
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/paginas/sistema/escritorioSistema.xhtml">
	<ui:define name="content">
		<h:body>

			<h:form id="idFormBuscarEntidad">	
				<p:panelGrid id="idGridBuscarEntidad" layout="grid"
                                             styleClass="ui-panelgrid" columns="1" >

                                    <p:row>
                                        <p:column style="text-align:center;" colspan="4">
                                                <div id="idFormConsola:terminos_header"
                                                        style="text-align: right;"
                                                        class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">

                                                        <u><i> <p:outputLabel styleClass="title" value="#{msgs['adm.entidad.label.titulo.busquedaEntidad']}" /> </i></u>

                                                </div>
                                        </p:column>
                                    </p:row>
                                        <p:column>
                                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid" style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                               
                                                <p:column style="width:30%;">
                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.entidad.label.nombreEntidad']}"/>
                                                </p:column>
                                                <p:column>
                                                       <p:inputText id="idNombreOrganismo"
                                                           value="#{entidadBean.entidadCriteria.nombre}"
                                                           style="width:96%; height:14px;margin-left:2px;"
                                                           onkeypress="javascript:return esAlfaNumerico(event);"/>
                                                </p:column>
                                                
                                                <p:column style="width:30%;">
                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.entidad.label.dre']}"/>
                                                </p:column>
                                                <p:column>
                                                       <p:inputText id="idDre"
                                                                    value="#{entidadBean.entidadCriteria.idDre}"
                                                           style="width:96%; height:14px;margin-left:2px;"
                                                           onkeypress="javascript:return isNumberKey(event);"
                                                           maxlength="4"/>
                                                </p:column>
                                                
                                                <p:column style="width:30%;">
                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.entidad.label.ugel']}"/>
                                                </p:column>
                                                <p:column>
                                                       <p:inputText id="idUgel"
                                                                    value="#{entidadBean.entidadCriteria.idUgel}"
                                                           style="width:96%; height:14px;margin-left:2px;"
                                                           onkeypress="javascript:return isNumberKey(event);"
                                                           maxlength="6"/>
                                                </p:column>
                                                
                                                <p:column>
                                                        <p:outputLabel styleClass="resaltar" value="#{msgs['adm.entidad.label.estado']}" />
                                                </p:column>
                                                <p:column>
                                                        <p:selectOneMenu   id="idEstado" value="#{entidadBean.entidadCriteria.estado}">                                                           
                                                            <f:selectItem itemValue=""
                                                                    itemLabel="#{msgs['adm.label.todos']}" />
                                                            <f:selectItems value="#{entidadBean.listaEstado}" />
                                                        </p:selectOneMenu>
                                                </p:column>                                                                                           
                                                
                                              
                                                <p:column>
                                                        <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.accion']}" />
                                                </p:column>
                                                <p:column>
                                                        <p:selectOneMenu   id="idAccion" value="#{entidadBean.entidadCriteria.accion}">
                                                            <f:selectItem itemValue="" itemLabel="#{msgs['adm.label.todos']}"  />
                                                            <f:selectItems value="#{entidadBean.listaAccion}" />
                                                        </p:selectOneMenu>
                                                </p:column>
                                            
                                                <p:column>
                                                      
                                                </p:column>
                                                <p:column>
                                                        
                                                </p:column>  
                                            
                                            </p:panelGrid>
                                        </p:column>
                                    
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    
                                    
                                    <p:row>
                                        <p:column style="text-align:center;" colspan="4">
                                                <center>
                                                       <p:commandButton
                                                       actionListener="#{entidadBean.buscarEntidad}" id="btnBuscarPerfil"
                                                       value="#{msgs['adm.boton.buscar']}"
                                                       update="idFormBuscarEntidad"  
                                                       ajax="false"
                                                       process="@this"/>
                                                       <p:commandButton
                                                       actionListener="#{entidadBean.limpiarCriteriosBuscarEntidad}" id="btnLimpiar"
                                                       value="#{msgs['adm.boton.limpiar']}"
                                                       update="idFormBuscarEntidad"
                                                       process="@this"/> 
                                                       <p:commandButton id="btnRegresar"
                                                       title="Volver Registro Usuario"
                                                        action="volverEntidadRegistro"
                                                        value="#{msgs['adm.boton.regresar']}"
                                                        immediate="true"
                                                        ajax="false"/>
                                               </center>			
                                       </p:column>
                                    </p:row>
                                    <p:row>
                                            <p:outputLabel value="#{entidadBean.mensajeBusquedaEntidad}"
                                                rendered="#{empty entidadBean.listaEntidad}" />
                                                <center>
                                                    <div id="divEntidad" style="width: 100%; overflow: auto;">
                                                    <p:dataTable 
							value="#{entidadBean.listaEntidad}" var="entidad" id="dtEntidad"
                                                        
							rendered="#{not empty entidadBean.listaEntidad}"
                                                        rowIndexVar="rowIndex"
                                                        emptyMessage="No se encuentra resultado para los criterios establecidos"
                                                        paginatorPosition="bottom"
                                                        paginatorAlwaysVisible="true"
                                                        rows="20"
                                                        paginator="true" 
                                                        rowsPerPageTemplate="20,40,60"
                                                        currentPageReportTemplate="Mostrando de {startRecord} a {endRecord} | Total Registros : {totalRecords}"
                                                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
    
                                                        <p:column>
								<f:facet name="header">
									<p:outputLabel value="#{msgs['adm.label.nro']}" />
								</f:facet>
								<p:outputLabel value="#{rowIndex+1}" />
							</p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                    <p:outputLabel value="#{msgs['adm.label.nombre']}" />
                                                            </f:facet>
                                                            <p:commandLink id="Nombre" value="#{entidad.nombreOrganismo}"
                                                                    actionListener="#{usuarioBean.volverEntidad}"
                                                                    action="volverEntidadRegistro">
                                                                    <f:param id="entidadId" name="id" value="#{entidad.id}" />
                                                                    <f:param id="entidadNombre" name="id" value="#{entidad.nombreOrganismo}" />
                                                            </p:commandLink>
							</p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                    <p:outputLabel value="#{msgs['adm.label.dre']}" />
                                                            </f:facet>
                                                            <p:outputLabel value="#{entidad.idDre}" />
                                                        </p:column>
                                                         <p:column>
                                                            <f:facet name="header">
                                                                    <p:outputLabel value="#{msgs['adm.label.ugel']}" />
                                                            </f:facet>
                                                             <p:outputLabel value="#{entidad.idUgel}" />
                                                        </p:column>
                                                        <p:column>
                                                                <f:facet name="header">
                                                                        <p:outputLabel value="#{msgs['adm.entidad.label.estado']}" />
                                                                </f:facet>
                                                            <p:outputLabel value="#{msgsType[entidad.estadoOrganismo.value]}" />
                                                        </p:column>
                                                        <p:column>
								<f:facet name="header">
									<p:outputLabel value="#{msgs['adm.entidad.label.fechaAccion']}" />
								</f:facet>
								<p:outputLabel value="#{entidad.fechaCreacion}" rendered="#{entidadBean.entidadCriteria.accion == 'O' || entidadBean.entidadCriteria.accion == 'CRE'}">
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss a" timeZone="#{entidadBean.timeZone}" />
								</p:outputLabel>
								<p:outputLabel value="#{entidad.ultimaFechaModificacion}" rendered="#{entidadBean.entidadCriteria.accion == 'MOD'}">
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss a" timeZone="#{entidadBean.timeZone}" />
								</p:outputLabel>
								<p:outputLabel value="#{entidad.ultimaFechaActivacion}" rendered="#{entidadBean.entidadCriteria.accion == 'ACT'}">
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss a" timeZone="#{entidadBean.timeZone}" />
								</p:outputLabel>
								<p:outputLabel value="#{entidad.ultimaFechaDesactivacion}" rendered="#{entidadBean.entidadCriteria.accion == 'DES'}">
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss a" timeZone="#{entidadBean.timeZone}" />
								</p:outputLabel>
							</p:column>                                                        
                                                    </p:dataTable>
                                                        
                                                    </div>
                                                </center>
                                            </p:row>
                                   
                                    
                                    

                                </p:panelGrid>
                        </h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
