
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/paginas/sistema/escritorioSistema.xhtml">
	<ui:define name="content">
		<h:body>

			<h:form id="idFormBuscarUsuario">
                            <center><p:messages id="messages" style="width: 20%; text-align: center;" /></center>                            
                            <!--                            <p:growl id="validador" autoUpdate="true"/>-->
				<p:panelGrid id="idGridFormacionAcademica" layout="grid"
                                             styleClass="ui-panelgrid" columns="1" >
					<p:row>
						<p:column style="text-align:center;" colspan="4">
							<div id="idFormConsola:terminos_header"
								style="text-align: right;"
								class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">
								
								<u><i> <p:outputLabel styleClass="title" value="Administración de usuarios" /> </i></u>
							</div>
						</p:column>
					</p:row>

					<p:row>
						<p:column >

							<p:fieldset legend="Criterios de Búsqueda" id="idBusqueda"
								style="border:1px solid orange">


								<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid" style="width:100%;text-align: left;border: none;border-color: transparent;" >

<!--                                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.tipo.documento']}" />
                                                                    <p:selectOneMenu id="idTipoDocumentoIdentidad"
                                                                                     value="#{usuarioBean.criteria.tipoDocumentoIdentidad}" >								
                                                                            <f:selectItem itemLabel="::Seleccionar::" itemValue="-1" />

                                                                    </p:selectOneMenu>-->
                                                                    
                                                                            <p:column style="width:30%;">
                                                                                     <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.nroDoc']}"/>
                                                                            </p:column>
                                                                            <p:column>
                                                                                    <p:inputText id="numeroDocumento"
                                                                                        value="#{usuarioBean.criteria.numeroDocumentoIdentidad}"
                                                                                        onkeypress="javascript:return esAlfaNumerico(event);"
                                                                                        maxlength="12" 
                                                                                        style="width:96%; height:14px;margin-left:2px;"/>
                                                                            </p:column>
                                                                            <p:column>
                                                                                    <p:outputLabel styleClass="resaltar"
                                                                                            value="#{msgs['adm.label.nombre']}" />
                                                                            </p:column>
                                                                            <p:column>
                                                                                    <p:inputText id="nombre"
                                                                                                    value="#{usuarioBean.criteria.nombreUsuario}"
                                                                                                    onkeypress="javascript:return esAlfaNumericoMod(event);"
                                                                                                    maxlength="200"
                                                                                                    style="width:96%; height:14px;margin-left:2px;"/>
                                                                            </p:column>
                                                                    
                                                                            <p:column style="width:30%;">
                                                                                     <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.estadoUsuario']}"/>
                                                                            </p:column>
                                                                            <p:column>
                                                                                    <p:selectOneMenu   id="estado"
                                                                                            value="#{usuarioBean.criteria.estadoUsuario}"
                                                                                            required="false">
                                                                                            <f:selectItem itemValue=""
                                                                                                    itemLabel="#{msgs['adm.label.todos']}" />
                                                                                            <f:selectItems value="#{usuarioBean.listaEstado}" />
                                                                                    </p:selectOneMenu>
                                                                            </p:column>
                                                                            <p:column>
                                                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.estadoUsuarioOrganismo']}" />
                                                                            </p:column>
                                                                            <p:column>
                                                                                    <p:selectOneMenu id="estadoUsuarioOrganismo"
                                                                                            value="#{usuarioBean.criteria.estadoUsuarioOrganismo}">
                                                                                            <f:selectItem itemValue=""
                                                                                                    itemLabel="#{msgs['adm.label.todos']}" />
                                                                                            <f:selectItems value="#{usuarioBean.listaEstadoUsuarioOrganismo}" />
                                                                                    </p:selectOneMenu>
                                                                            </p:column>
                                                                    
                                                                            <p:column style="width:30%;">
                                                                                     <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.perfil']}"/>
                                                                            </p:column>
                                                                            <p:column>
                                                                                    <p:selectOneMenu  id="perfil"
                                                                                        value="#{usuarioBean.criteria.perfil}"
                                                                                        valueChangeListener="#{usuarioBean.cargarRol}"
                                                                                        onchange="submit()"
                                                                                        required="false">
                                                                                        <f:selectItem itemValue=""
                                                                                                itemLabel="#{msgs['adm.label.seleccione']}" />
                                                                                        <f:selectItems value="#{usuarioBean.listaPerfil}" />
                                                                                    </p:selectOneMenu>
                                                                                <p:tooltip id="tolTipestado" for="estado"
												value="Seleccionar Estado" trackMouse="true" />
                                                                            </p:column>
                                                                            <p:column>
                                                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.rol']}"  />
                                                                            </p:column>
                                                                            <p:column>
                                                                                    <p:selectOneMenu   id="rol"
                                                                                        value="#{usuarioBean.criteria.rol}" required="false">
                                                                                        <f:selectItem itemValue=""
                                                                                                itemLabel="#{msgs['adm.label.seleccione']}" />
                                                                                        <f:selectItems value="#{usuarioBean.listaRol}" />
                                                                                    </p:selectOneMenu>
                                                                            </p:column>
                                                                    
                                                                    
                                                                            <p:column style="width:30%;">
                                                                                     <p:outputLabel styleClass="resaltar" value="#{msgs['adm.entidad.label.entidad']}"/>
                                                                            </p:column>
                                                                            <p:column>
                                                                                    <p:inputText id="entidad"
                                                                                            value="#{usuarioBean.criteria.entidad}"
                                                                                            styleClass="convertUpper"
                                                                                            onkeypress="javascript:return esAlfaNumerico(evt);"
                                                                                            required="false" maxlength="100"
                                                                                            style="width:96%; height:14px;margin-left:2px;" />
                                                                            </p:column>
                                                                    
                                                                            <p:column>
                                                                            </p:column>
                                                                            <p:column>
                                                                            </p:column>
<!--                                                                            <p:column>
                                                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.accion']}" />
                                                                            </p:column>
                                                                            <p:column>
                                                                                    <p:selectOneMenu  id="accion"
                                                                                        value="#{usuarioBean.criteria.accion}">
                                                                                        <f:selectItem itemValue="" itemLabel="#{msgs['adm.label.todos']}" />
                                                                                        <f:selectItems value="#{usuarioBean.listaAcciones}" />
                                                                                </p:selectOneMenu>
                                                                            </p:column>-->













									
<!--                                                                    <p:outputLabel value="#{msgs['portal.label.categoria.fechaDesde']}" />								
                                                                        <h:panelGroup>	
                                                                        <h:panelGrid columns="2">								
                                                                            <p:calendar 
                                                                                        id="fechaAccionDesde"
                                                                                        value="#{usuarioBean.criteria.fechaDesdeAccion}"
                                                                                        onmousedown="onfocusNoPaste(this,0);"
                                                                                        onkeydown="javascript:return false;" >
                                                                                        <f:convertDateTime pattern="dd/MM/yyyy"
                                                                                                timeZone="#{usuarioBean.timeZone}" />
                                                                            </p:calendar>
                                                                                <p:commandButton value="Limpiar"
                                                                                        actionListener="#{usuarioBean.limpiarFechaInicio}"
                                                                                         id="btnCleanIni" />
                                                                        </h:panelGrid>
                                                                    </h:panelGroup>


									<p:outputLabel value="#{msgs['portal.label.categoria.fechaHasta']}" />
									<h:panelGroup>
                                                                            <h:panelGrid columns="2">
										<p:calendar   id="fechaAccionHasta"
											value="#{usuarioBean.criteria.fechaHastaAccion}"
											onmousedown="onfocusNoPaste(this,0);"
											onkeydown="javascript:return false;">
											<f:convertDateTime pattern="dd/MM/yyyy"
												timeZone="#{usuarioBean.timeZone}" />
										</p:calendar>
                                                                                <p:commandButton value="Limpiar"
											actionListener="#{usuarioBean.limpiarFechaFin}" />
                                                                            </h:panelGrid>
									</h:panelGroup>
									<br />
									<p:outputLabel value="#{usuarioBean.mensajeFecha}"
										styleClass="campoObligatorio"
										rendered="#{usuarioBean.mensajeFecha != null}" />-->

								</p:panelGrid>
							</p:fieldset>
						</p:column>        
					</p:row>
                                        <br />
                                        <p:row>
						<p:column style="text-align:center;" colspan="4">
							 <center>
                                                                <p:commandButton
                                                                actionListener="#{usuarioBean.procesarBusqueda}" id="btnBuscar"
                                                                value="#{msgs['adm.boton.buscar']}"
                                                                update="@form"
                                                                ajax="true"/> 
                                                                <p:commandButton
                                                                actionListener="#{usuarioBean.limpiarBusqueda}" id="btnLimpiar"
                                                                value="#{msgs['adm.boton.limpiar']}" 
                                                                update="idFormBuscarUsuario"
                                                                 process="@this"/> 
                                                                <p:commandButton
                                                                actionListener="#{usuarioBean.nuevoUsuario}"
                                                                value="#{msgs['adm.boton.nuevo']}" 
                                                                 action="verRegistroUsuario"
                                                                 
                                                                 
                                                                 />
<!--                                                                <p:commandButton
                                                                actionListener="#{usuarioBean.actualizarUsuariosClaveByMigracion}"
                                                                value="Encriptar claves de usuarios"/>-->
                                                        </center>			
						</p:column>
					</p:row>
                              
                               <br />
                             
                            
                               <p:row>
                                    <p:outputLabel value="#{usuarioBean.mensajelistavacia}"
							rendered="#{empty usuarioBean.listaUsuario}" />
					<center>
						<div id="divUsuario" style="width: 100%; overflow: auto;">
						<p:dataTable 
							value="#{usuarioBean.listaUsuario}" var="usuario" id="dtUsuario"
                                                        
							rendered="#{not empty usuarioBean.listaUsuario}"
                                                        rowIndexVar="rowIndex"
                                                        emptyMessage="No hay resultados"
                                                        paginatorPosition="bottom"
                                                        paginatorAlwaysVisible="true"
                                                        rows="20"
                                                        paginator="true" 
                                                        rowsPerPageTemplate="20,40,60"
                                                        currentPageReportTemplate="Mostrando de {startRecord} a {endRecord} | Total Registros : {totalRecords}"
                                                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

                                                       
							<p:column>
								<f:facet name="header">
									<p:outputLabel value="#{msgs['adm.label.nro']}" />
								</f:facet>
								<p:outputLabel value="#{rowIndex+1}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<p:outputLabel value="#{msgs['adm.entidad.label.entidad']}" />
								</f:facet>
                                                            <p:outputLabel value="#{usuario.organismo}"/>
							</p:column>							
							<p:column>
								<f:facet name="header">
									<p:outputLabel value="Numero de identificación" />
								</f:facet>
								<p:outputLabel value="#{usuario.dni}" />
							</p:column>

							<p:column>
								<f:facet name="header">
									<p:outputLabel value="#{msgs['adm.usuario.label.nombres']}" />
								</f:facet>								
                                                                <p:outputLabel value="#{empty  usuario.nombres ? 'No especifica': usuario.nombres}"/>
							</p:column>

							<p:column>
								<f:facet name="header">
									<p:outputLabel value="#{msgs['adm.usuario.label.correo']}" />
								</f:facet>								
                                                                <p:outputLabel value="#{empty  usuario.correo ? 'No especifica': usuario.correo}" style="width: 150px;"/>
							</p:column>

<!--							<p:column>
								<f:facet name="header">
									<p:outputLabel value="#{msgs['adm.usuario.label.cargo']}" />
								</f:facet>
								<p:outputLabel value="#{empty  usuario.cargo ? 'No especifica': usuario.cargo}"/>
							</p:column>-->

						
			
	
							<p:column>
								<f:facet name="header">
									<p:outputLabel value="#{msgs['adm.usuario.label.estadoUsuario']}" />
								</f:facet>
								<p:outputLabel value="#{msgs['adm.usuario.state.activo']}" rendered="#{usuario.estadoUsuario eq 'ACTIV'}"/>
								<p:outputLabel value="#{msgs['adm.usuario.state.inactivo']}" rendered="#{usuario.estadoUsuario eq 'INACT'}"/>
								<p:outputLabel value="#{msgs['adm.usuario.state.bloqueocaducidad']}" rendered="#{usuario.estadoUsuario eq 'BLQCA'}"/>
								<p:outputLabel value="#{msgs['adm.usuario.state.bloqueoexpirado']}" rendered="#{usuario.estadoUsuario eq 'BLQEX'}"/>
								<p:outputLabel value="#{msgs['adm.usuario.state.bloqueointentosfallidos']}" rendered="#{usuario.estadoUsuario eq 'BLQIF'}"/>
							</p:column>

							<p:column>
								<f:facet name="header">
									<p:outputLabel value="#{msgs['adm.usuario.label.estadoUsuarioOrganismo']}" />
								</f:facet>
								<p:outputLabel value="#{msgs['adm.usuario.state.activo']}" rendered="#{usuario.estado eq 'ACTIV'}"/>
								<p:outputLabel value="#{msgs['adm.usuario.state.inactivo']}" rendered="#{usuario.estado eq 'INACT'}"/>
							</p:column>

<!--							<p:column>
								<f:facet name="header">
									<p:outputLabel value="#{msgs['adm.label.accion']}" />
								</f:facet>
								<p:outputLabel value="#{msgs['adm.fechaaccion.type.creacion']}" rendered="#{usuario.accion == 'CRE'}" />
								<p:outputLabel value="#{msgs['adm.fechaaccion.type.modificacion']}" rendered="#{usuario.accion == 'MOD'}" />
								<p:outputLabel value="#{msgs['adm.fechaaccion.type.activacion']}" rendered="#{usuario.accion == 'ACT'}" />
								<p:outputLabel value="#{msgs['adm.fechaaccion.type.desactivacion']}" rendered="#{usuario.accion == 'DES'}" />
							</p:column>-->
<!--							<p:column>
								<f:facet name="header">
									<p:outputLabel
										value="#{msgs['adm.usuario.label.fechaaccion']}" />
								</f:facet>
								<p:outputLabel value="#{usuario.fechaAccionAuditoria}">
									<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss"
										timeZone="#{usuarioBean.timeZone}" />
								</p:outputLabel>
							</p:column>-->
                                                        <p:column
								rendered="#{usuarioBean.flagExternal == null and usuarioBean.verCheck == false}">
								<f:facet name="header">
									<p:outputLabel value="#{msgs['common.columna.opciones']}" />
								</f:facet>
<!--                                                                <p:commandButton 
									id="Editar" action="editarUsuario" image="/recursos/images/edit.gif"
									actionListener="#{usuarioBean.editarUsuario}" title="Editar"
									rendered="#{!((sessionScope['ServiceContext'].usuarioSessionVO.oidUsuario eq usuario.usuario))}"
									>
                                                                        <f:param id="editPersona" name="idPersona" value="#{usuario.idUsuario}" />
									<f:param id="editOrganismo" name="idOrganismo" value="#{usuario.idOrganismo}" />
								</p:commandButton>-->
                                                                <p:commandLink id="Editar" action="editarUsuario" 
									actionListener="#{usuarioBean.editarUsuario}" title="Editar"
									rendered="#{!((sessionScope['ServiceContext'].usuarioSessionVO.oidUsuario eq usuario.usuario))}"
									>
                                                                        <p:graphicImage value="/recursos/images/edit.gif"/>
                                                                        <f:param id="editPersona" name="idPersona" value="#{usuario.idUsuario}" />
									<f:param id="editOrganismo" name="idOrganismo" value="#{usuario.idOrganismo}" />
                                                                </p:commandLink>&#160;&#160;
<!--								<p:commandButton id="Detalle"
									action="detalleUsuario" immediate="true"
									image="/recursos/images/lupa.gif"
									actionListener="#{usuarioBean.detalleUsuario}"
									title="#{msgs['adm.label.verDetalle']}">
									<f:param id="editPersona" name="idPersona"
                                                                                 value="#{usuario.idUsuario}" />
									<f:param id="editOrganismo" name="idOrganismo"
										value="#{usuario.idOrganismo}" />
								</p:commandButton>-->

							</p:column>
<!--							<p:column
								rendered="#{usuarioBean.flagExternal == null and UsuarioBean.verCheck == false}">
								<f:facet name="header">
									<p:outputLabel value="#{msgs['common.columna.opciones']}" />
								</f:facet>
								<p:commandButton renderedOnUserRole="ADM_ADMINISTRAR_USUARIO"
									id="Editar" action="editarUsuario" image="/resources/images/btnEdit.gif"
									actionListener="#{UsuarioBean.editarUsuario}" title="Editar"
									rendered="#{!((UsuarioBean.hasRolAdministradorEntidad) and (sessionScope['ServiceContext'].usuarioSessionVO.oidUsuario eq usuario.usuario))}"
									>
									<f:param id="editPersona" name="idPersona" value="#{usuario.idPersona}" />
									<f:param id="editOrganismo" name="idOrganismo" value="#{usuario.idOrganismo}" />
								</ice:commandButton>&#160;&#160;
								<p:commandButton
									renderedOnUserRole="ADM_VER_DETALLE_DE_USUARIO" id="Detalle"
									action="detalleUsuario" immediate="true"
									image="/resources/images/btnLupa.gif"
									actionListener="#{UsuarioBean.detalleUsuario}"
									title="#{msgs['adm.label.verDetalle']}">
									<f:param id="editPersona" name="idPersona"
										value="#{usuario.idPersona}" />
									<f:param id="editOrganismo" name="idOrganismo"
										value="#{usuario.idOrganismo}" />
								</p:commandButton>

							</p:column>-->

						</p:dataTable>
                                                </div>
						</center>
                                    </p:row>
                                </p:panelGrid>
                        </h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
