
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/paginas/sistema/escritorioSistema.xhtml">
	<ui:define name="content">
		<h:body>

			<h:form id="idFormEdicionUsuario" prependId="true">
                            <center><p:messages id="messages" style="width: 20%; text-align: center;" /></center>                            
                            <!--                            <p:growl id="validador" autoUpdate="true"/>-->
				<p:panelGrid id="idGridRegistroUsuario" layout="grid"
                                             styleClass="ui-panelgrid" columns="1" >
					<p:row>
						<p:column style="text-align:center;" colspan="4">
							<div id="idFormConsola:terminos_header"
								style="text-align: right;"
								class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">
								
								<u><i> <p:outputLabel styleClass="title" value="#{msgs['adm.usuario.label.actualiza.adm']}" /> </i></u>
							</div>
						</p:column>
					</p:row>

					<p:row>
						<p:column>
                                                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid" style="width:100%;text-align: left;border: none;border-color: transparent;" >

                                                                        <p:column style="width:30%;">
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.entidad']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:inputText id="codigoEntidad" value="#{usuarioBean.nombreOrganismo}" readonly="true"  />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar"
                                                                                        value="#{msgs['adm.label.nombre']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:inputText id="nombre"
                                                                                             value="#{usuarioBean.usuarioDetalle.usuario.nombres}"
                                                                                                maxlength="200"
                                                                                                onkeypress="javascript:return esLetra(event);"
                                                                                                style="width:96%; height:14px;margin-left:2px;"
                                                                                                required="#{!empty param['idFormEdicionUsuario:guardarUsuario']}" requiredMessage="#{msgs['adm.label.nombre']}: El valor es requerido"
                                                                                                />
                                                                        </p:column>
                                                                        
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar"
                                                                                        value="Apellido paterno" />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:inputText id="apellidoPaterno"
                                                                                             value="#{usuarioBean.usuarioDetalle.usuario.apellidoPaterno}"
                                                                                                maxlength="200"
                                                                                                onkeypress="javascript:return esLetra(event);"
                                                                                                style="width:96%; height:14px;margin-left:2px;"
                                                                                                required="#{!empty param['idFormEdicionUsuario:guardarUsuario']}" requiredMessage="Apellido paterno: El valor es requerido"/>
                                                                        </p:column>
                                                                
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar"
                                                                                        value="Apellido materno" />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:inputText id="apellidoMaterno"
                                                                                             value="#{usuarioBean.usuarioDetalle.usuario.apellidoMaterno}"
                                                                                                maxlength="200"
                                                                                                onkeypress="javascript:return esLetra(event);"
                                                                                                style="width:96%; height:14px;margin-left:2px;"
                                                                                                required="#{!empty param['idFormEdicionUsuario:guardarUsuario']}" requiredMessage="Apellido materno: El valor es requerido"/>
                                                                        </p:column>
                                                                
                                                                
                                                                
                                                                        <p:column style="width:30%;">
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.tipoDoc']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:inputText id="tipoDocumento"
                                                                                             value="#{usuarioBean.usuarioDetalle.usuario.tipoDocumento}"
                                                                                                maxlength="200"
                                                                                                style="width:96%; height:14px;margin-left:2px;"
                                                                                                onkeypress="javascript:return noEscribir(event);"
                                                                                                required="#{!empty param['idFormEdicionUsuario:guardarUsuario']}" requiredMessage="#{msgs['adm.usuario.label.tipoDoc']}: El valor es requerido"/>
<!--                                                                                <p:selectOneMenu   id="tipoDocumento"
                                                                                        value="#{usuarioBean.usuarioDetalle.usuario.tipoDocumento}"
                                                                                        required="false"
                                                                                        disabled="true">
                                                                                        <f:selectItem itemValue="" itemLabel="#{msgs['adm.label.seleccione']}" />
                                                                                        <f:selectItems value="#{usuarioBean.listaTipoDocumento}" />
                                                                                </p:selectOneMenu>-->
                                                                            
                                                                        </p:column>
                                                                
                                                                
                                                                        <p:column style="width:30%;">
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.nroDoc']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:inputText id="nroDoc" 
                                                                                             value="#{usuarioBean.usuarioDetalle.usuario.codigoOID}"
                                                                                    onkeypress="javascript:return isNumberKey(event);" 
                                                                                    maxlength="12"  /> 
<!--                                                                                <h:inputHidden binding="#{usuarioBean.usuarioDetalle.usuario.codigoOIDAnterior}" value="#{usuarioBean.usuarioDetalle.usuario.codigoOID}"/>-->
                                                                        </p:column>
                                                                
                                                                
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.email']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:inputText id="correoPersonal" 
                                                                                    value="#{usuarioBean.usuarioDetalle.usuario.email}"
                                                                                    maxlength="50" required="#{!empty param['idFormRegistroUsuario:guardarUsuario']}"
                                                                                    requiredMessage="#{msgs['adm.usuario.label.email']}: El valor es requerido"
                                                                                    validatorMessage="#{msgs['adm.usuario.label.email']}: Formato de email inválido, el formato debe ser asi [...]@[...].[...]"                                                                                    
                                                                                    style="width:96%; height:14px;margin-left:2px;"
                                                                                    onkeypress="javascript:return esCorreo(event);">
                                                                                <f:validateRegex disabled="#{empty param['idFormEdicionUsuario:guardarUsuario']}" pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                                                            </p:inputText>
                                                                        </p:column>

                                                                
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.celularInst']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:inputText id="celularInstitucional"
                                                                                        value="#{usuarioBean.usuarioDetalle.celularInstitucional}"
                                                                                        onkeypress="javascript:return isNumberKey(event);"
                                                                                        maxlength="9" >

                                                                                </p:inputText>
                                                                        </p:column>
                                                                
                                                                        
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar" value="Telefono institucional" />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:inputText id="telefono" 
                                                                                        value="#{usuarioBean.usuarioDetalle.telefonoInstitucional}"
                                                                                        onkeypress="javascript:return isNumberKey(event);" maxlength="15"/>
                                                                        </p:column> 
                                                                
                                                               
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.anexotelefono']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:inputText id="anexoTelefono"
                                                                                            value="#{usuarioBean.usuarioDetalle.anexoInstitucional}"
                                                                                            onkeypress="javascript:return isNumberKey(event);" maxlength="5"/>
                                                                        </p:column> 
                                                                
                                                                
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.cargo']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:inputText id="cargo"
                                                                                             value="#{usuarioBean.usuarioDetalle.cargo}"
                                                                                             onkeypress="javascript:return esLetra(event);"
                                                                                             maxlength="100" />
                                                                        </p:column> 
                                                                
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.estadoUsuarioOrganismo']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:selectOneMenu  id="estadoEdiUsu2" value="#{usuarioBean.usuarioDetalle.estado}" 
                                                                                                  required="#{!empty param['idFormEdicionUsuario:guardarUsuario']}" requiredMessage="#{msgs['adm.usuario.label.estadoUsuarioOrganismo']}: El valor es requerido">
                                                                                    <f:selectItem itemValue="" itemLabel="#{msgs['adm.label.seleccione']}" />   
                                                                                    <f:selectItems value="#{usuarioBean.estadoFiltrado}" />
                                                                                </p:selectOneMenu> 
                                                                        </p:column> 
                                                                
                                                                        
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.perfil']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:inputText id="perfil" value="#{usuarioBean.nombrePerfil}"
                                                                                             onkeypress="javascript:return noEscribir(event);"
                                                                                             required="#{!empty param['idFormEdicionUsuario:guardarUsuario']}" requiredMessage="#{msgs['adm.usuario.label.perfil']}: El valor es requerido"/>
                                                                                <p:commandLink id="BuscarPerfil"
                                                                                                 action="buscarPerfil"
                                                                                        actionListener="#{perfilBean.setearFlagExternal}"
                                                                                        title="Buscar Perfil" 
                                                                                        partialSubmit="true"
                                                                                        >
                                                                                        <p:graphicImage value="/recursos/images/lupa.gif"/>
                                                                                        <f:param id="flagExternalPerfil" name="flagExternalPerfil"
                                                                                                value="#{usuarioBean.modificacionUsuario}" />
                                                                                        <f:param id="flagExternalOrganismo" name="flagExternalOrganismo"
                                                                                                value="#{usuarioBean.idOrganismo}" />
                                                                                </p:commandLink>
                                                                        </p:column> 
                                                                
                                                                        <p:column>
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.usuario.label.estadoUsuario']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:selectOneMenu  id="estadoEdi" value="#{usuarioBean.usuarioDetalle.usuario.estado}" 
                                                                                                  required="#{!empty param['idFormEdicionUsuario:guardarUsuario']}" requiredMessage="#{msgs['adm.usuario.label.estadoUsuario']}: El valor es requerido">
                                                                                    <f:selectItem itemValue="" itemLabel="#{msgs['adm.label.seleccione']}" />   
                                                                                    <f:selectItems value="#{usuarioBean.listaEstado}" />
                                                                                </p:selectOneMenu> 
                                                                              
                                                                        </p:column> 
                                                                
                                                                        <p:column>
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.esadministrador']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:selectOneMenu  id="indAdmin" value="#{usuarioBean.usuarioDetalle.indicadorAdministradorEntidad}" 
                                                                                                  required="#{!empty param['idFormEdicionUsuario:guardarUsuario']}" requiredMessage="#{msgs['adm.label.esadministrador']}: El valor es requerido">
                                                                                    <f:selectItem itemValue="" itemLabel="#{msgs['adm.label.seleccione']}" />   
                                                                                    <f:selectItems value="#{usuarioBean.indicadoresAdm}" />
                                                                                </p:selectOneMenu> 
                                                                              
                                                                        </p:column>         
                                                                        
                                                                        <p:column>                                                                                 
                                                                        </p:column>
                                                                        <p:column>                                                                          
                                                                        </p:column>
                                                                
                                                            </p:panelGrid> 
                                                    </p:column>
                                        </p:row>
                                        <p:row>
                                                <p:fieldset legend="#{msgs['adm.usuario.label.listaRoles']}" id="idLegendListaRoles" style="border:1px solid orange" rendered="#{not empty usuarioBean.listaRolDTO}">



                                                        <p:dataTable
                                                                value="#{usuarioBean.listaRolDTO}" var="rol" id="dtRol"
                                                                rendered="#{not empty usuarioBean.listaRolDTO}"
                                                                rowIndexVar="rowIndex"
                                                                emptyMessage="No hay resultados"
                                                                paginatorPosition="bottom"
                                                                paginatorAlwaysVisible="true"
                                                                rows="20"
                                                                paginator="true" 
                                                                rowsPerPageTemplate="20,40,60"
                                                                currentPageReportTemplate="Mostrando de {startRecord} a {endRecord} | Total Registros : {totalRecords}"
                                                                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                                                                <p:column>
                                                                        <f:facet name="header">
                                                                                <p:outputLabel value="Nro." />
                                                                        </f:facet>
                                                                        <center>
                                                                                <p:outputLabel value="#{rowIndex+1}" />
                                                                        </center>
                                                                </p:column>
                                                                <p:column>
                                                                        <f:facet name="header">
                                                                                <p:outputLabel value="#{msgs['adm.label.nombre']}" />
                                                                        </f:facet>
                                                                                <p:outputLabel value="#{rol.perfilRol.rol.nombre}" style="text-transform: uppercase;"/>
                                                                </p:column>

                                                        </p:dataTable>


                                            </p:fieldset>
                                        </p:row>
                                        
                                    
                                        
                              
                               <br />

                              
                                </p:panelGrid>
                                <p:panelGrid id="idGridAccionRegistrarUsuario" layout="grid"
                                    styleClass="ui-panelgrid" columns="1" >
                                     <p:row>
                                            <p:column style="text-align:center;" >
                                                     <center>
                                                            <p:commandButton
                                                            action="#{usuarioBean.guardarUsuario}"
                                                            disabled="#{usuarioBean.usuarioDetalle.organismo.estado eq 'INACT'}"
                                                            id="guardarUsuario"                                                            
                                                            rendered="#{usuarioBean.flagResgitroExitoso}"
                                                            value="#{msgs['adm.boton.aceptar']}"
                                                            update="@form"
                                                            />                                                            
                                                            <p:commandButton action="#{usuarioBean.cancelar}"                                                            
                                                                             value="#{msgs['adm.boton.regresar']}" immediate="true" process="@this"
                                                            />
<!--                                                            <p:commandButton rendered="#{usuarioBean.flagResgitroExitoso}" actionListener="#{usuarioBean.generarClave}" 
                                                            value="#{msgs['adm.boton.generar.clave']}"
                                                            immediate="true"/>-->
                                                    </center>			
                                            </p:column>
                                    </p:row>            
                                    
                                </p:panelGrid>
                        </h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
