
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/paginas/sistema/escritorioSistema.xhtml">
	<ui:define name="content">
		<h:body>

			<h:form id="idFormEdicionEntidad">
                            <center><p:messages id="messages" style="width: 20%; text-align: center;" /></center>                            
                            <!--                            <p:growl id="validador" autoUpdate="true"/>-->
				<p:panelGrid id="idGridRegistroUsuario" layout="grid"
                                             styleClass="ui-panelgrid" columns="1" >
					<p:row>
						<p:column style="text-align:center;" colspan="4">
							<div id="idFormConsola:terminos_header"
								style="text-align: right;"
								class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">
								
								<u><i> <p:outputLabel styleClass="title" value="#{msgs['adm.entidad.titulo.modificar']}" /> </i></u>
							</div>
						</p:column>
					</p:row>

					<p:row>
						<p:column>
                                                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid" style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                        <p:column style="width:30%;">
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.nombre']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:inputText id="nombre"
                                                                                             value="#{entidadBean.organismo.nombreOrganismo}"
                                                                                                maxlength="200"
                                                                                                style="width:96%; height:14px;margin-left:2px;"
                                                                                                required="#{!empty param['idFormEdicionEntidad:guardarEntidadEditada']}" requiredMessage="#{msgs['adm.label.nombre']}: El valor es requerido"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar"  value="#{msgs['adm.label.dre']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:inputText id="idDre"
                                                                                             value="#{entidadBean.organismo.idDre}" maxlength="200" style="width:96%; height:14px;margin-left:2px;"/>
                                                                        </p:column>
                                                                        
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.ugel']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:inputText id="idUgel" value="#{entidadBean.organismo.idUgel}" maxlength="200"  style="width:96%; height:14px;margin-left:2px;"/>
                                                                        </p:column>
                                                                
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.entidad.label.estado']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                                <p:selectOneMenu
                                                                                        id="idEstado"
                                                                                        value="#{entidadBean.organismo.estado}" 
                                                                                        required="false"
                                                                                        valueChangeListener="#{entidadBean.validarVisualizarFormularioUsuario}"
                                                                                        style="width:143px;">
                                                                                        <f:selectItems value="#{entidadBean.listaEstado}" />
                                                                                </p:selectOneMenu>                                                                                
                                                                        </p:column> 
                                                                
                                                                
                                                                
                                                                        <p:column>
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.titulo.asociarPerfilEntidad']}" />
                                                                        </p:column>
                                                                        <p:column>                                                                                
                                                                                <p:commandLink id="btnBuscar" action="buscarPerfil"
                                                                                        actionListener="#{perfilBean.setearFlagExternal}"
                                                                                        title="#{msgs['adm.titulo.asociarPerfilEntidad']}">
                                                                                        <p:graphicImage value="/recursos/images/lupa.gif"/>
                                                                                        <f:param id="flagExternalPerfil" name="id" value="#{entidadBean.callEntidadBuscarPerfil}" />
                                                                                </p:commandLink>
                                                                        </p:column> 
                                                                
                                                                        
                                                                        <p:column>                                                                                
                                                                        </p:column>
                                                                        <p:column>                                                                                
                                                                        </p:column>
                                                                
                                                            </p:panelGrid> 
                                                    </p:column>
                                        </p:row>
                                        <p:row>
                                                <p:fieldset legend="#{msgs['adm.usuario.label.listaPerfiles']}" id="idLegendListaRoles" style="border:1px solid orange" rendered="#{not empty entidadBean.listaOrganismoPerfil}">



                                                        <p:dataTable
                                                                value="#{entidadBean.listaOrganismoPerfil}" var="list" id="dtPerfil"
                                                                rowIndexVar="rowIndex"
                                                                emptyMessage="No hay resultados"
                                                                paginatorPosition="bottom"
                                                                paginatorAlwaysVisible="true"
                                                                rows="20"
                                                                paginator="true" 
                                                                rowsPerPageTemplate="20,40,60"
                                                                currentPageReportTemplate="Mostrando de {startRecord} a {endRecord} | Total Registros : {totalRecords}"
                                                                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                                                                <p:column>
                                                                        <f:facet name="header">
                                                                                <p:outputLabel value="Nro." />
                                                                        </f:facet>
                                                                        <center>
                                                                                <p:outputLabel value="#{rowIndex+1}" />
                                                                        </center>
                                                                </p:column>
                                                                <p:column>
                                                                        <f:facet name="header">
                                                                                <p:outputLabel value="#{msgs['adm.label.nombre']}" />
                                                                        </f:facet>
                                                                                <p:outputLabel value="#{list.perfil.nombre}" style="text-transform: uppercase;"/>
                                                                </p:column>
                                                                <p:column>
                                                                        <f:facet name="header">
                                                                                <p:outputLabel value="#{msgs['adm.label.descripcion']}" />
                                                                        </f:facet>
                                                                                <p:outputLabel value="#{list.perfil.descripcion}" style="text-transform: uppercase;"/>
                                                                </p:column>
                                                                <p:column>
									<f:facet name="header">
										<p:outputLabel value="#{msgs['common.columna.opciones']}" />
									</f:facet>									
                                                                        <p:commandLink  id="Eliminar" 
                                                                                        immediate="true" title="Eliminar" update="@form"
                                                                                        actionListener="#{entidadBean.eliminarElementoPerfilEntidad}">
                                                                            <p:graphicImage value="/recursos/images/cerrar.png"/>
                                                                            <f:param id="elementoPerfil" name="ideli" value="#{rowIndex+1}" />
                                                                        </p:commandLink>
								</p:column>                                                                
                                                        </p:dataTable>


                                            </p:fieldset>
                                        </p:row>

                               <br />
                            
                                    <p:row>
                                        <p:column style="text-align:center;" colspan="4">
                                            <div id="accionBotones" style="text-align: center;">
                                                <p:commandButton id="guardarEntidadEditada"
                                                             action="#{entidadBean.modificarEntidad}"
                                                             value="Modificar"
                                                             rendered="#{entidadBean.mostrarBotonRegresar==false}"
                                                             update="@form"/>
                                                &#160;&#160;&#160;&#160;
                                               <p:commandButton action="#{entidadBean.cancelarOperacion}" 
                                                                value="Salir" 
                                                                rendered="#{entidadBean.mostrarBotonRegresar==false}" 
                                                                immediate="true"/>
                                                <p:commandButton action="#{entidadBean.cancelarOperacion}"
                                                        rendered="#{entidadBean.mostrarBotonRegresar}"
                                                        value="#{msgs['adm.boton.regresar']}"
                                                        immediate="true"/>  
                                            </div>
                                          </p:column>
                                    </p:row>
                                </p:panelGrid>                                
                        </h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
