<!doctype html> <html> <head> <meta charset="utf-8"> <link rel="icon" href="favicon.ico"> <title></title> <meta name="description" content=""> <meta name="viewport" content="width=device-width"> <!--<meta http-equiv="X-Frame-Options" content="deny"> --> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> <link rel="stylesheet" href="styles/vendor.a9747afa.css"> <!-- custom --> <!-- end custom --> <link rel="stylesheet" href="styles/main.7aa7a177.css"> <style>.search-input {
      font-family: Courier
    }
    
    .search-input,
    .leaflet-control-search {
      max-width: 400px;
    }</style> <style>.leaflet-fullscreen-on{
      position:fixed !important;
      width:100% !important;
      height:100% !important;
      top:0 !important;
      left:0 !important;
      z-index:99999;
    }</style> <style>html{display : none ; }</style>  </head> <body ng-app="regProgramasApp" st-disabled="{{!isLogged}}" ng-controller="RegProgramasCtrl" ng-cloak style="min-height: 1000px"> <!-- Add your site or application content here --> <div shortcuts="keyUp"> <div id="btn"> <div id="exbtn" ng-click="getProfile('ocul')"></div> </div> <div class="container-fluid"> <div class="header"> <div class="container-fluid"> <div ng-if="isLogged"> <div style="display: flex; justify-content: space-between; align-items: center;margin: 10px 0"> <img src="images/logoescale.36758830.png" height="60px"> <img src="images/logo_med.cf250490.png" height="60px"> </div> </div> <div ng-if="isLogged" class="navbar navbar-default" role="navigation"> <a class="navbar-brand" href="#/v-home"><b>REGISTRO DE PROGRAMAS</b></a> <div class="container-fluid"> <div class="navbar-header"> <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> </div> <div class="collapse navbar-collapse" id="js-navbar-collapse"> <ul class="nav navbar-nav" style="font-size:9pt"> <li ng-repeat="dat in headsMenu" class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown"> {{dat.name}} <b class="caret"></b> </a> <ul class="dropdown-menu"> <li ng-repeat="hi in dat.hijo"> <a href="#/{{hi.url}}">{{hi.nombre}}</a> </li> </ul> </li> </ul> <ul class="nav navbar-nav navbar-right"> <li> </li><li> <a style="font-size: 8pt;padding: 6px 0 0 10px"><b>{{userData.nombreCompleto}}</b><br> ORGANIZACIÓN : {{organismo.nombreOrganismo}}<br></a> </li> <li> <a style="font-size: 9pt;padding: 6px 0 0 10px"><b>Ultimo acceso:</b> <br>{{userData.ultimaFechadeActividad}}</a> </li> <li> <a href="#/v-usr-change-pwd" title="Datos de usuario"><span class="fa fa-user" style="font-size: 16pt"></span></a> </li> <li> <a href="#/v-login" ng-click="logout()" title="Cerrar sesión"><span class="fa fa-sign-out" style="font-size: 16pt"></span></a> </li> </ul> </div> <div class="row"> <div class="col-sm-9"> &nbsp; </div> <div class="col-sm-3"> <!--wrodriguez Julio 2017 - Combo de cierre de sessiones. --> <!--
                 <select  class = "form-control input-sm" ng-model="perfiles.tipoPerfil.perfSelected"> 
                            <option ng-selected="{{dat.sky==perfiles.tipoPerfil.perfSelected}}" 
                            ng-repeat="dat in perfiles.tipoPerfil.lista" 
                            value="{{dat.sky}}" 
                            ng-click="verMenu()"> perfiles.tipoPerfil.perfSelected
                            {{dat.sdes}}  $scope.perfiles.tipoPerfil.lista
                           </option>
                   </select>
          --> <!-- 
                  <select class = "form-control input-sm" ng-model="perfiles.tipoPerfil.perfSelected" 
                      ng-options="perfil  as dat.sdes for dat in perfiles.tipoPerfil.lista track by perfiles.tipoPerfil.sky"
                      ng-change="perfiles.tipoPerfil.verMenu()">
                    

                  </select>
              --> <select class="form-control input-sm" ng-model="perfiles.tipoPerfil.value" ng-change="perfiles.tipoPerfil.verMenu()"> <option ng-repeat="data in perfiles.tipoPerfil.lista" value="{{data.sky}}">{{data.sdes}}</option> </select> </div> </div> </div> </div> </div> <div ng-view=""></div> <div ng-if="isLogged" class="footer"> <div class="copyright text-center"> <p>© {{anioActual}} Ministerio de Educación - Todos los derechos reservados.</p> </div> </div> </div> </div> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->   <!-- services -->  <!--<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&sensor=false"></script>--> <!-- end services -->  </div></body> </html>