/* SECCION DISTRIBUCION : INICIO */
body{
	font-size: 12px;
    font-family: Arial, "Arial CE", Verdana, "Verdana CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: #FFFFFF;	
}
html{
	min-width: 990px; 	
}
form{
	border:0px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
#header{
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}
#header .ui-toolbar{
	border-color:#FFD8A6;
    background: #FFD8A6;	
	color:black;
	margin-left: 0px;			
	margin-top:0px;
	margin-bottom:0px;
	margin-right: 0px;	
}

#left{
	position: absolute;
	left: 10px;
	top: 134px;
	width: 180px;
	background-color: #FFFFFF;
	border: 2px none #666666;
}

#center{
	top: 115px;
	min-height: 540px;
	background: #FFFFFF;
	margin-left: 20px;
}

* > #center{
	height: auto;
}

#center_more{
	top: 0;
	margin-left: 200px;
	margin-right: 10px;
	height: 400px;
	min-height: 400px;
	text-align: left;
	background: #FFFFFF;
}

* > #center_more{
	height: auto;
}
#right{
	position: absolute;
	right: 10px;
	top: 134px;
	width: 200px;
	border: 2px solid #666666;
	background-color: #FFFFCC;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-top: 5px;
}

#footer{
	background-color:#777777;	/* #A87C4F Color de fondo del footer*/
	text-align: center;
	vertical-align:text-top;	
	border-color:black;
	font-size: 0.8em;  /*tamaño de la letra*/	
}

#footer table{
	width: 95%;	 
}

#footer tr{
	color: #FFFFFF;  /* Color de letra del footer */ 
	height:20px;
}
#footer td{
    text-align:center;
    vertical-align:top;
}
/* SECCION DISTRIBUCION : TERMINO */



/* SECCION PRIMEFACES-SOBREESCRIBIR: INICIO */

#menu{
    position: relative;
    z-index: 100;
    background-color: #FFD8A6;
    margin: 0px 0px 0px 0px;
    padding-bottom:0px;
    padding-top:0px;    
    padding-left:0px;    
    padding-right:0px;    
	color:black;	
}
#menu .ui-widget-content
{
	color:black;	
    background: #F6931E;
/*	border-color:black;*/
}
#menu .ui-toolbar{
	color:black;	
	border-color:black;	
	margin-top:2px;
	margin-bottom:2px;
}

#content{
	min-height: 525px;	
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
}


#content table.tablaDatos{
	border-color: black;
}

#content th.ui-state-default{		
    background: #F6931E;    
    color: black;	
	height:40px;
}
/*
#content table tr.ui-datatable-even td{	
    background-color: #ffffff;
}
#content table tr.ui-datatable-odd td{
    background-color: #FFD8A6;	
}
*/

#content .ui-panel-titlebar{
	color:black;
    background: #F6931E;	
}

#content .ui-dialog-titlebar{
	color:black;
    background: #F6931E;	
}

#content fieldset{
	border-color:black;	
}

#content fieldset legend{
	color:black;
	border-color:black;
	background:white;		
}

#content table td{
	color: #000000;
    vertical-align:top;
}

#content td.tableCenter {
    text-align:center;
}

#content td.tableLeft{
    text-align:left;
}

#content td.tableRight{
    text-align:right;
}

#content input[type=text] { 
	color: #4F4F4F;  
	background-color: white;
	font-size: 0.9em; /* tamaño de la letra  */			
}

#content textarea { 
	color: #4F4F4F;  
	background-color: white;
	font-size: 0.9em; /* tamaño de la letra  */			
}


#content button {
    background: #F6931E;
    color:black;     
}

#content input[type=text].textDesactivado { 
	background-color:silver;
	font-size: 0.9em; /* tamaño de la letra  */
}

#columnaFechaValor input[type=text] { 
	width: 80px; 
}

#content input[type=text].columnaChicoValor { 
	width: 50px;  
}

#content input[type=text].columnaMedioValor { 
	width: 100px;  
}

#content input[type=text].columnaGrandeValor { 
	width: 200px;  
}

.grid {
	width: 98%;
}

.ui-datatable table {
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;	
	margin-top: 5px;	
}
.ui-widget,.ui-widget .ui-widget {
	font-size: 12px !important;
}


.ui-widget .ui-calendar { 
    background-image: url(#{resource['images:country_flag.gif']}); 
}

.ui-widget .ui-icon-print {
   /*background-image: url('../../../resources/system/app/images/framework/cancel.png');*/    
} 


.ui-messages-error{
	width: 100%;	
	padding:0px;
	padding-top:4px;
	padding-left:0px;
	padding-right:0px;		
	padding-bottom:0px;		
	min-height:20px;
}

.tablaPanelGrid table table, th, td{
    text-align:left;     
    vertical-align:top;
}

#content .ui-toolbar{
 /*   background: #F9B858; */	
	height: 32px;			
}

#content .ui-panel-titlebar{
	color:black;
    background: #F6931E;	
}

#content .ui-dialog-titlebar{
	color:black;
    background: #F6931E;	
}

.ui-datatable th {
	white-space:normal !important;
}

/* SECCION PRIMEFACES-SOBRESCRIBIR : TERMINO */


/* CONTROLES DE FORMULARIOS: INICIO */
.tituloPagina{
	color: #000000;	
	font-size: 1.5em;
	width: 100%;
    text-align:center;
    margin-top: 5px;    
    margin-bottom: 5px;    
}

.textoEtiqueta, .columnaEtiqueta{
	text-align:left;
	vertical-align:top;	
	padding-top:4px;
	color: #424242;	 
}

.columnaTitulo{
	color: #000000;
	font-size:1.5em;
	font-weight:bold;
}

.columnaEtiqueta{
	display:inline-block;	
	white-space:normal !important;
}

.columnaEtiquetaDesactivada{
	vertical-align:top;	
	color: #000;  	
	/*background:#ccc;*/	
	border: 1px #ccc solid;	
	border-top: 3px outset #cccccc;
	border-left: 1px outset #cccccc;
	height: 20px;		
	display:inline-block;	
}

.columnaValor{
    vertical-align:top;	
    text-align:left; 
    padding:0;
    marging:0;
}

.columnaFecha input[type=text] { 
	width: 80px;
}

.columnaMensaje{
	color:red;
	width: 80%;
	padding-top:4px;
}

.tablaContenedor{
	padding:0; 
	border-spacing:0;
	border-collapse:collapse;
}
/* CONTROLES DE FORMULARIOS: INICIO */
.ui-panelgrid.ui-widget{
	margin: 0 auto;
    text-align:left;
    width: 50%; 
}
.ui-paginator.ui-paginator-bottom.ui-widget-header.ui-corner-bottom{
    color: black;
    background: #F6931E
}
.ui-dialog-titlebar{
	color:black;
    background: #F6931E;
}
.ui-button.ui-widget{
background: #F6931E;
    color:black; 
}
.ui-dialog .ui-dialog-footer{
	text-align: center;
}
.ui-confirm-dialog.ui-dialog{
    width: 400px;
}
.ui-widget-header {
	background: none;
	border:none;
    color: black;
}

/* CONTROLES DE FORMULARIOS: INICIO */
