input { 
	text-transform: uppercase;
}
.ui-panelgrid {
    margin: 0 auto;
    text-align:left;
    width: 95%; 
}
.ui-panelgrid.ui-widget{
	margin: 0 auto;
    text-align:left;
    width: 50%; 
}
.ui-panel {
    margin: 0 auto;
    text-align:left;
    width: 900px;
}
.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important;
    background: transparent !important;
}

.div_formulario{
	width:85% !important;
	margin:0 auto;
	border-radius: 35px;
	padding:5px;
	border:0px solid rgb(0, 0, 0);
	background-color: #fafafa;
}
.div_formularioContrataciones{
	width:95% !important;
	margin:0 auto;
	border-radius: 35px;
	padding:5px;
	border:0px solid rgb(0, 0, 0);
	background-color: white;
	text-align:left;
}
.label {
    font-weight: bold;
    text-align: left;
}
.labelTituloCentrado {
    font-weight: bold;
    text-align: center;
}
.label_italic {
    text-align: left;
    font-style:italic;
    font-weight: bold;
    color:red;
}
.label_footer {
    text-align: left;
    font-style:italic;
}
.title {
    font-weight: bold;
    text-align: center;
	font-size: 16px;
}
.celda {
	display: inline-flex;
}
.ui-datatable table, .ui-datatable-resizable table {
	table-layout: auto !important;
}
.ui-datatable-scrollable table {
    table-layout: fixed !important;
}
.ui-datatable-odd {
    background: none repeat scroll 0 0 #FFE0A3 !important;
} 
.ui-clock{
    border-radius: 0px !important;
    background-color: white;
}
.ui-selectonemenu{
     width:300px !important;
}
.ui-selectonemenu-label{
     width: 100% !important;
} 
.inputField {
   width: 400px !important;
}
.informativo
{
	font-size: 11px; 
	font-style:italic;
	font-weight: bold;
	color:#000000; 
} 
.northUnit {
     height: 85px !important;
}
.hdLeft {
  position: absolute;
  /* position: relative; */
  left: 50px;
  width: 20%;
  float: left;
  /* background-color: #b0e0e6; */
}
.hdCenter {
  position: absolute;
  /* position: relative; */
  left: 40%;
  width: 50%;
  float: center;
  /* background-color: #b0e0e6; */
}

.imgHead {
  box-shadow: 2px 2px 2px #696969;
  -webkit-box-shadow: 2px 2px 2px #696969;
  -moz-box-shadow: 2px 2px 2px #696969;
}
.resaltar{
font-family:sans-serif;
font-weight: bold;
color: black;
border-right: 10px;
height: 20px;
}
.highlight {
 background: yellow  !important ;
}
.ui-dialog-small {
    width: auto;
	height: auto;
}
.ui-dialog-medium {
    width: 70%;
	height: auto;
}
.ui-dialog-large {
    width: 90%;
	height: auto;
}
.ui-dialog .ui-dialog-title {
    float: left;
    color: black;
}
element.style{
	width: 50%;
    vertical-align: top;
    margin: 0 auto;
}
