<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
<h:head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
        <link href="#{request.contextPath}/recursos/css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="#{request.contextPath}/recursos/css/estilosESCALE.css" rel="stylesheet" type="text/css"/>
        <link href="#{request.contextPath}/recursos/css/bootstrap-1.4.css" rel="stylesheet" type="text/css"/>
        <link href="#{request.contextPath}/recursos/css/escaleStyle.css" rel="stylesheet" type="text/css"/>
        <link href="#{request.contextPath}/recursos/css/escaleStyle2.css" rel="stylesheet" type="text/css"/>
        <link href="#{request.contextPath}/recursos/css/main-1.4.css" rel="stylesheet" type="text/css"/>
        <link href="#{request.contextPath}/recursos/css/plugin/easy-responsive-tabs.css" rel="stylesheet" type="text/css"/>
        <link href="#{request.contextPath}/recursos/css/ui-lightness/jquery-ui-1.10.4.custom.css" rel="stylesheet" type="text/css"/>
        <link href="#{request.contextPath}/recursos/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css"/>
        
        <script src="#{request.contextPath}/recursos/js/calendar_es.js" type="text/javascript"></script>
        <script src="#{request.contextPath}/recursos/js/funciones.js" type="text/javascript"></script>
        <script src="#{request.contextPath}/recursos/js/jshashtable-2-1.js" type="text/javascript"></script>
        <script src="#{request.contextPath}/recursos/js/jquery_numberformatter-1-2-3.js" type="text/javascript"></script>
        <script src="#{request.contextPath}/recursos/js/date.js" type="text/javascript"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script type="text/javascript">
		/*<![CDATA[*/
			function isNumberKey(evt) {
				var charCode = (evt.which) ? evt.which : event.keyCode;
				if (charCode > 31 && (charCode < 48 || charCode > 57)) {
					return false;
				}
				return true;
			}
			/*]]>*/
	</script>
		<script type="text/javascript">
		/*<![CDATA[*/	
		function isNumberKeyCel(evt) {
		
			var charCode = (evt.which) ? evt.which : event.keyCode;				
			if (charCode == 40 ||charCode == 41) {return true;}				
			if (charCode > 31 && (charCode < 48 || charCode > 57)) {
				return false;
			}
			return true;
		}
		/*]]>*/
				
			</script>
		<script type="text/javascript">
		/*<![CDATA[*/
		function esAlfaNumerico(evt) {
			var objRegExp = new RegExp("^[a-zA-Z0-9 ]");
			var charCode = (evt.which) ? evt.which : event.keyCode;
			if (charCode == 8) {
				return true;
			}
			return objRegExp.test(String.fromCharCode(charCode));
		}
                function esLetra(evt) {
			var objRegExp = new RegExp("^[a-zA-Z ]");
			var charCode = (evt.which) ? evt.which : event.keyCode;
			if (charCode == 8) {
				return true;
			}
			return objRegExp.test(String.fromCharCode(charCode));
		}
		/*]]>*/
                
	</script>
        
        <script type="text/javascript">
                /*<![CDATA[*/
                function esAlfaNumericoParen(evt) {
                        var objRegExp = new RegExp("^[a-zA-Z0-9 ]");
                        var charCode = (evt.which) ? evt.which : event.keyCode;
                        if (charCode == 8 || charCode == 40 ||charCode == 41 || charCode == 45 ) {
                                return true;
                        }
                        return objRegExp.test(String.fromCharCode(charCode));
                }
                function esAlfaNumericoMod(evt) {
				
                        if (typeof evt.target === "undefined") {
                                formName=evt.srcElement.form.id;
                        }else{
                                formName = evt.target.form.id;
                        }					

                        var regla = document.getElementById(formName+':validarAlfaNumerico').value;				
                        var objRegExp = new RegExp(regla);
                        var charCode = (evt.which) ? evt.which : event.keyCode;
                        if (charCode == 8) {
                                return true;
                        }
                        if ( evt.keyCode==13 ) {				
                         return false;
                        }

                        return objRegExp.test(String.fromCharCode(charCode));
                }
                /*]]>*/

        </script>

        
	<title>MINEDU - Ministerio de educación</title>
</h:head>

<h:body>
<h:panelGroup layout="block">
        <!-- DIALOGO A MOSTRAR PARA INVOCACIONES AJAX -->	
        <p:ajaxStatus onstart="PF('statusDialog').show()" 				onsuccess="PF('statusDialog').hide()" />
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" 			closable="false" resizable="false" showHeader="false">
                <p:graphicImage value="/recursos/images/ajaxLoading02.gif" />
        </p:dialog>

	
	<!-- 
	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
			Region Superior
	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
	-->
		 
	<div id="header" style="min-width:768px;" >
		<ui:insert name="top">
			<ui:include src="/paginas/sistema/template/header.xhtml" />
		</ui:insert>
	</div>


	<!-- 
	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
			Region del menu
	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
	 -->
	<div id="menu" style="min-width:768px;" >
		<ui:insert name="menu">
			<ui:include src="/paginas/sistema/menuSistema.xhtml" />
		</ui:insert>
	</div>

	<!--
	 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
			Region del Contenido de las paginas
	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
	 -->
	<div id="content" style="min-width:768px;" >	  		 
		<ui:insert name="content">				
                        
		</ui:insert>		
	</div>
	<!-- 
	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 
			Region del pie de Pagina  
	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
	 -->
<!--	<div id="footer" style="min-width:768px;position: absolute;" >
		<ui:insert name="bottom">
			<ui:include src="/paginas/sistema/template/footer.xhtml" />
		</ui:insert>
	</div>-->

</h:panelGroup>
</h:body>
</f:view>

</html>