<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html" contracts="#{param.contract}">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

                <link href="recursos/css/estilos.css" rel="stylesheet" type="text/css"/>
                <link href="recursos/css/estilosESCALE.css" rel="stylesheet" type="text/css"/>
	

	</h:head>
	<h:body>
		<h:form id="idFormAcceso" style="width:100%;">
				<p:growl id="validador" autoUpdate="true"/>    
			<br />
			<br />
			<br />
			<br />
			<br />
			<p:panel id="basic" style="width:100%;">

				
                                <p:panelGrid id="formLogin" columns="2" layout="grid" >
                                    
					<p:column style="text-align: center;">
                                            <p:panelGrid id="panelTitulo" columns="1" >
                                                <center>
                                                    <p:outputLabel id="tituloLabel" value="Sistema de gestión de usuarios de la Unidad de Estadística"
                                                                        styleClass="label"  />
                                                <p:graphicImage value="recursos/images/logoESCALE.png" height="130" width="350" />
                                                </center>
                                            </p:panelGrid>
						
                                            
					</p:column>							

					<p:column>
                                            <p:panelGrid columns="1" >
                                                
                                                <p:row> 
                                                    <p:panelGrid columns="2" >
                                                        <p:column style="text-align:center">
                                                                <p:outputLabel value="#{rbEscaleUI['escale.ui.login.usuario']}"
                                                                        styleClass="labelTituloCentrado" />
                                                        </p:column>
                                                        <p:column style="text-align:center">
                                                                <p:inputText id="codUsuario"
                                                                             value="#{loginBean.usuario.codigoOID}" required="true"
                                                                        requiredMessage="#{rbEscaleUI['escale.ui.login.accion.requerido.usuario']}"
                                                                        autocomplete="off" />


                                                        </p:column>


                                                        <p:column>
                                                            <p:outputLabel value="#{rbEscaleUI['escale.ui.login.clave']}"
                                                                    styleClass="label" />
                                                        </p:column>
                                                        <p:column style="text-align:center">
                                                            <p:password id="codClave" value="#{loginBean.usuario.clave}"
                                                                        required="true"
                                                                        requiredMessage="#{rbEscaleUI['escale.ui.login.accion.requerido.clave']}" />


                                                        </p:column>


                                                        <p:column style="text-align:center">

                                                                <p:commandButton
                                                                        value="#{rbEscaleUI['escale.ui.general.boton.iniciar.session.label']}"
                                                                        style="width:180px;" 
                                                                        action="#{loginBean.ingresarSistema}"
                                                                        styleClass="ui-icon-disk" 
                                                                        update="idFormAcceso"
                                                                        icon="ui-icon-disk" 
                                                                        onclick="PF('bui').show()"
                                                                        oncomplete="PF('bui').hide()" 
                                                                        onsuccess="PF('bui').hide()">
                                                                </p:commandButton>

                                                                <p:blockUI block="idFormAcceso" widgetVar="bui">
                                                                        <h:outputLabel
                                                                                value="#{rbEscaleUI['escale.ui.bean.accion.autenticar']}" />
                                                                        <br />
                                                                        <p:graphicImage value="recursos/images/ajaxloadingbar.gif" />
                                                                </p:blockUI>

                                                        </p:column>
                                                    </p:panelGrid>
                                                </p:row>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <p:row>
                                                    <p:column colspan="4" style="text-align:center;">
                                                            <p:commandLink style="color:blue"
                                                                    value="#{rbEscaleUI['escale.ui.login.aviso.noPuedeIngresarAlSistema']}"
                                                                    immediate="true"
                                                                    action="recuperarClaveUsuario"/>
                                                    </p:column>
                                                </p:row>
                                                <p:row>
                                                    <p:column colspan="4" style="text-align:center;">
                                                        <p:outputLabel style="font-size: 75%;"
                                                          value="#{rbEscaleUI['escale.ui.login.aviso.centroConsultasEscale']}">
                                                        </p:outputLabel>
                                                    </p:column>
                                                </p:row>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <br></br>

                                               
                                            </p:panelGrid>
                                        </p:column>
                                         
                                        

				</p:panelGrid>
			</p:panel>

		</h:form>

	</h:body>
</f:view>
</html>