
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/paginas/sistema/escritorioSistema.xhtml">
	<ui:define name="content">
		<h:body>

			<h:form id="idFormBuscarPerfil">
                            <center><p:messages id="messages" style="width: 20%; text-align: center;" /></center>                            
                            <!--                            <p:growl id="validador" autoUpdate="true"/>-->
				<p:panelGrid id="idGridBuscarPerfil" layout="grid"
                                             styleClass="ui-panelgrid" columns="1" >
                                    <p:row>
                                        <p:column style="text-align:center;" colspan="4">
                                                <div id="idFormConsola:terminos_header"
                                                        style="text-align: right;"
                                                        class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">

                                                        <u><i> <p:outputLabel styleClass="title" value="#{msgs['adm.titulo.buscarperfil']}" /> </i></u>

                                                </div>
                                        </p:column>
                                    </p:row>
                                        <p:column>
                                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid" style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                               
                                                <p:column style="width:30%;">
                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.nombre']}"/>
                                                </p:column>
                                                <p:column>
                                                       <p:inputText id="nombrePerfil"
                                                           value="#{perfilBean.vo.nombre}"
                                                           style="width:96%; height:14px;margin-left:2px;"/>
                                                </p:column>
                                                <p:column>
                                                        <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.estado']}" />
                                                </p:column>
                                                <p:column>
                                                        <p:selectOneMenu   id="estado" value="#{perfilBean.vo.estado}">
                                                            <f:selectItem itemValue=""
                                                                    itemLabel="#{msgs['adm.label.seleccione']}" />
                                                            <f:selectItem itemValue="-1"
                                                                    itemLabel="#{msgs['adm.label.todos']}" />
                                                            <f:selectItems value="#{perfilBean.estados}" />
                                                        </p:selectOneMenu>
                                                </p:column>
                                            
                                                
                                                
                                                <p:column style="width:30%;">
                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.descripcion']}"/>
                                                </p:column>
                                                <p:column>
                                                       <p:inputText id="descripcionPerfil"
                                                           value="#{perfilBean.vo.descripcion}"
                                                           style="width:96%; height:14px;margin-left:2px;"/>
                                                </p:column>
                                                <p:column>
                                                        <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.accion']}" />
                                                </p:column>
                                                <p:column>
                                                        <p:selectOneMenu   id="accion" value="#{perfilBean.vo.accion}">
                                                            <f:selectItem itemValue=""
                                                                    itemLabel="#{msgs['adm.label.todos']}"  />
                                                            <f:selectItems value="#{perfilBean.acciones}" />
                                                        </p:selectOneMenu>
                                                </p:column>
                                            
                                            
                                            </p:panelGrid>
                                        </p:column>
                                    
                                    <br />

                                    <p:row>
                                        <p:column style="text-align:center;" colspan="4">
                                                <center>
                                                       <p:commandButton
                                                       actionListener="#{perfilBean.buscarPerfil}" id="btnBuscarPerfil"
                                                       value="#{msgs['adm.boton.buscar']}"
                                                       update="idFormBuscarPerfil"  
                                                       ajax="false"
                                                       process="@this"/>
                                                       <p:commandButton
                                                       actionListener="#{perfilBean.limpiarCampos}" id="btnLimpiar"
                                                       value="#{msgs['adm.boton.limpiar']}"
                                                       update="idFormBuscarPerfil"
                                                       process="@this"/> 
                                                       <p:commandButton 
                                                        value="#{msgs['adm.boton.nuevo']}" action="#{perfilBean.nuevo}"/>
                                               </center>			
                                       </p:column>
                                    </p:row>
                                    
                                    
                                    
                                    <p:row>
                                            <p:outputLabel value="#{perfilBean.mensajelistavacia}"
                                                rendered="#{empty perfilBean.lista}" />
                                                <center>
                                                    <div id="divUsuario" style="width: 100%; overflow: auto;">
                                                    <p:dataTable 
							value="#{perfilBean.lista}" var="list" id="dtPerfil"
                                                        
							rendered="#{not empty perfilBean.lista}"
                                                        rowIndexVar="rowIndex"
                                                        emptyMessage="No hay resultados"
                                                        paginatorPosition="bottom"
                                                        paginatorAlwaysVisible="true"
                                                        rows="20"
                                                        paginator="true" 
                                                        rowsPerPageTemplate="20,40,60"
                                                        currentPageReportTemplate="Mostrando de {startRecord} a {endRecord} | Total Registros : {totalRecords}"
                                                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
    
                                                        <p:column>
								<f:facet name="header">
									<p:outputLabel value="#{msgs['adm.label.nro']}" />
								</f:facet>
								<p:outputLabel value="#{rowIndex+1}" />
							</p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                    <p:outputLabel value="#{msgs['adm.label.nombre']}" />
                                                            </f:facet>
                                                            <p:outputLabel value="#{list.nombre}" />
							</p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                    <p:outputLabel value="#{msgs['adm.label.descripcion']}" />
                                                            </f:facet>
                                                            <p:outputLabel value="#{list.descripcion}" />
                                                            </p:column>
                                                            <p:column>
                                                                    <f:facet name="header">
                                                                            <p:outputLabel value="#{msgs['adm.label.estado']}" />
                                                                    </f:facet>
                                                                    <p:outputLabel value="#{msgsType[list.estadoPerfil.value]}" />
                                                            </p:column>
                                                            <p:column>
                                                                    <f:facet name="header">
                                                                            <p:outputLabel value="#{msgs['adm.label.accion']}" />
                                                                    </f:facet>
                                                                    <p:outputLabel value="#{msgs['adm.fechaaccion.type.creacion']}" rendered="#{list.accion == 'CRE'}" />
                                                                    <p:outputLabel value="#{msgs['adm.fechaaccion.type.modificacion']}" rendered="#{list.accion == 'MOD'}" />
                                                                    <p:outputLabel value="#{msgs['adm.fechaaccion.type.activacion']}" rendered="#{list.accion == 'ACT'}" />
                                                                    <p:outputLabel value="#{msgs['adm.fechaaccion.type.desactivacion']}" rendered="#{list.accion == 'DES'}" />
                                                            </p:column>
                                                            <p:column>
                                                                    <f:facet name="header">
                                                                            <p:outputLabel value="#{msgs['adm.entidad.label.fechaAccion']}" />
                                                                    </f:facet>
                                                                    <p:outputLabel value="#{list.fechaAccion}">
                                                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"
                                                                                    timeZone="#{perfilBean.timeZone}" />
                                                                    </p:outputLabel>
                                                            </p:column>
                                                            <p:column>
                                                                <f:facet name="header">
                                                                        <p:outputLabel value="#{msgs['common.columna.opciones']}" />
                                                                </f:facet>
                                                                <p:commandLink id="Editar" action="editarPerfil" 
                                                                        actionListener="#{perfilBean.editar}" title="#{msgs['adm.label.editar']}">
                                                                        <p:graphicImage value="/recursos/images/edit.gif"/>
                                                                        <f:param id="id" name="id" value="#{list.id}" />
                                                                </p:commandLink>&#160;&#160;
                                                                <p:commandLink id="VerDetalle" action="detallePerfil" 
                                                                        actionListener="#{perfilBean.detalle}" title="#{msgs['adm.label.verDetalle']}">
                                                                        <p:graphicImage value="/recursos/images/lupa.gif"/>
                                                                        <f:param id="idDetalle" name="id" value="#{list.id}" />
                                                                </p:commandLink>
                                                            </p:column>                                                          
                                                    </p:dataTable>
                                                        
                                                    </div>
                                                </center>
                                            </p:row>
                                   
                                    
                                    

                                </p:panelGrid>
                        </h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
