
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/paginas/sistema/escritorioSistema.xhtml">

	<ui:define name="content">
		<h:body>

			<h:form id="idFormBuscarRol">
                            <center><p:messages id="messages" style="width: 20%; text-align: center;" /></center>                            
                            <!--                            <p:growl id="validador" autoUpdate="true"/>-->
				<p:panelGrid id="idGridBuscarRol" layout="grid"
                                             styleClass="ui-panelgrid" columns="1" >
                                    <p:row>
                                        <p:column style="text-align:center;" colspan="4">
                                                <div id="idFormConsola:terminos_header"
                                                        style="text-align: right;"
                                                        class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">

                                                        <u><i> <p:outputLabel styleClass="title" value="#{msgs['adm.titulo.buscarrol']}" /> </i></u>

                                                </div>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid" style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                               
                                                <p:column style="width:30%;">
                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.nombre']}"/>
                                                </p:column>
                                                <p:column>
                                                       <p:inputText id="nombre"
                                                           value="#{rolBean.vo.nombre}"
                                                           style="width:96%; height:14px;margin-left:2px;"/>
                                                </p:column>
                                                <p:column>
                                                        <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.modulo']}" />
                                                </p:column>
                                                <p:column>
                                                        <p:selectOneMenu   id="modulo" value="#{rolBean.vo.idModulo}">                                                           
                                                            <f:selectItem itemValue=""
                                                                    itemLabel="#{msgs['adm.label.todos']}" />
                                                            <f:selectItems value="#{rolBean.modulos}" />
                                                        </p:selectOneMenu>
                                                </p:column>
                                            
                                                
                                                
                                                <p:column style="width:30%;">
                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.descripcion']}"/>
                                                </p:column>
                                                <p:column>
                                                       <p:inputText id="descripcion"
                                                           value="#{rolBean.vo.descripcion}"
                                                           style="width:96%; height:14px;margin-left:2px;"/>
                                                </p:column>
                                                <p:column>
                                                        <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.estado']}" />
                                                </p:column>
                                                <p:column>
                                                        <p:selectOneMenu   id="estado" value="#{rolBean.vo.estado}">                                                            
                                                            <f:selectItems value="#{rolBean.estadoFiltrado}" />
                                                        </p:selectOneMenu>
                                                </p:column>
                                            
                                                
                                                
                                               
                                                <p:column>
                                                        <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.accion']}" />
                                                </p:column>
                                                <p:column>
                                                        <p:selectOneMenu   id="accion" value="#{rolBean.vo.accion}">                                                            
                                                            <f:selectItem itemValue="" itemLabel="#{msgs['adm.label.todos']}" />
                                                            <f:selectItems value="#{rolBean.acciones}" />
                                                        </p:selectOneMenu>
                                                </p:column>
                                    
                                    
                                               
                                                <p:column>
                                                        <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.esadministrador']}" />
                                                </p:column>
                                                <p:column>
                                                        <p:selectOneMenu   id="eadm" value="#{rolBean.vo.indicadorAdministrador}">                                                            
                                                            <f:selectItem itemValue="" itemLabel="#{msgs['adm.label.seleccione']}" />
                                                            <f:selectItem itemValue="" itemLabel="#{msgs['adm.label.todos']}" />
                                                            <f:selectItems value="#{rolBean.indicadoresAdm}" />
                                                        </p:selectOneMenu>
                                                </p:column>
                                                
                                            
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>
                                    
                                    <br />
                                    
                                    
                                    <p:row>
                                        <p:column style="text-align:center;" colspan="4">
                                                <center>
                                                       <p:commandButton
                                                       actionListener="#{rolBean.buscarRol}" id="btnBuscar"
                                                       value="#{msgs['adm.boton.buscar']}"
                                                       update="idFormBuscarRol"  
                                                       ajax="false"
                                                       process="@this"/>
                                                       <p:commandButton
                                                       actionListener="#{rolBean.limpiarCampos}" id="btnLimpiar"
                                                       value="#{msgs['adm.boton.limpiar']}"
                                                       update="idFormBuscarRol"
                                                       process="@this"/> 
                                                       <p:commandButton id="btnCancelarNP"
                                                       rendered="#{rolBean.visListPerfilNuevoCancelar}"
                                                       title="Cancelar AddRol para NuevoPerfil"
                                                        action="cancelarNuevo"
                                                        actionListener="#{perfilBean.cancelarListRol}"
                                                        value="#{msgs['adm.boton.regresar']}"
                                                        immediate="true"
                                                        ajax="false"/>
                                                       <p:commandButton id="btnCancelarEP"
                                                       rendered="#{rolBean.visListPerfilEditarCancelar}"
                                                       title="Cancelar AddRol para EditarPerfil"
                                                        action="cancelarEditar"
                                                        actionListener="#{perfilBean.cancelarListRol}"
                                                        value="#{msgs['adm.boton.regresar']}"
                                                        immediate="true"
                                                        ajax="false"/>
                                               </center>			
                                       </p:column>
                                    </p:row>
                                    <p:row>
                                            <p:outputLabel value="#{rolBean.mensajelistavacia}"
                                                rendered="#{empty rolBean.listaR}" />
                                                <center>
                                                    <div id="divUsuario" style="width: 100%; overflow: auto;">
                                                    <p:dataTable 
							value="#{rolBean.listaR}" var="list" id="dtRol"
                                                        
							rendered="#{not empty rolBean.listaR}"
                                                        rowIndexVar="rowIndex"
                                                        emptyMessage="No hay resultados"
                                                        paginatorPosition="bottom"
                                                        paginatorAlwaysVisible="true"
                                                        rows="20"
                                                        paginator="true" 
                                                        rowsPerPageTemplate="20,40,60"
                                                        currentPageReportTemplate="Mostrando de {startRecord} a {endRecord} | Total Registros : {totalRecords}"
                                                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
    
                                                        <p:column>
                                                                <f:facet name="header">
                                                                        <p:selectBooleanCheckbox
                                                                                valueChangeListener="#{rolBean.seleccionarTodo}" value="#{rolBean.estadoSeleccion}"
                                                                                 immediate="true" >
                                                                            <p:ajax update="@form"  partialSubmit="true" event="change" />
                                                                        </p:selectBooleanCheckbox>                                                                        
                                                                </f:facet>
                                                            <p:selectBooleanCheckbox value="#{list.hidden}"  >
<!--                                                            <p:selectBooleanCheckbox value="#{list.hidden}" rendered="#{rolBean.visListPerfil}" >-->
                                                                <p:ajax update="@form"  partialSubmit="true" event="change" />
                                                            </p:selectBooleanCheckbox>
<!--                                                                <p:selectBooleanCheckbox value="#{list.hidden}" rendered="#{rolBean.visListPerfil}" />-->                                                                
                                                        </p:column>
                                                        <p:column>
								<f:facet name="header">
									<p:outputLabel value="#{msgs['adm.label.nro']}" />
								</f:facet>
								<p:outputLabel value="#{rowIndex+1}" />
							</p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                    <p:outputLabel value="#{msgs['adm.label.nombre']}" />
                                                            </f:facet>
                                                            <p:outputLabel value="#{list.nombre}" style="text-transform: uppercase;"
                                                                rendered="#{rolBean.flagExternal == null}" />
							</p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                    <p:outputLabel value="#{msgs['adm.label.descripcion']}" />
                                                            </f:facet>
                                                            <p:outputLabel value="#{list.descripcion}" style="text-transform: uppercase;"/>
                                                        </p:column>
                                                        <p:column>
                                                                <f:facet name="header">
                                                                        <p:outputLabel value="#{msgs['adm.label.modulo']}" />
                                                                </f:facet>
                                                                <p:outputLabel value="#{list.modulo}"  style="text-transform: uppercase;"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                    <p:outputLabel value="#{msgs['adm.label.esadministrador']}" />
                                                            </f:facet>
                                                            <p:outputLabel value="#{msgsType[list.condicionState.value]}" style="text-transform: uppercase;"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                    <p:outputLabel value="#{msgs['adm.label.estado']}" />
                                                            </f:facet>
                                                            <p:outputLabel value="#{msgsType[list.estadoRol.value]}" style="text-transform: uppercase;"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                    <p:outputLabel value="#{msgs['adm.label.accion']}" />
                                                            </f:facet>
                                                            <p:outputLabel value="#{msgs['adm.fechaaccion.type.creacion']}" rendered="#{list.accion == 'CRE'}" />
                                                            <p:outputLabel value="#{msgs['adm.fechaaccion.type.modificacion']}" rendered="#{list.accion == 'MOD'}" />
                                                            <p:outputLabel value="#{msgs['adm.fechaaccion.type.activacion']}" rendered="#{list.accion == 'ACT'}" />
                                                            <p:outputLabel value="#{msgs['adm.fechaaccion.type.desactivacion']}" rendered="#{list.accion == 'DES'}" />
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                    <p:outputLabel value="#{msgs['adm.accionUsuario.label.fechaAccion']}" />
                                                            </f:facet>
                                                            <p:outputLabel value="#{list.fechaCreacion}" rendered="#{rolBean.indicadorTipoFecha=='CRE'}">
                                                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"  timeZone="#{rolBean.timeZone}" />
                                                            </p:outputLabel>
                                                            <p:outputLabel value="#{list.ultimaFechaModificacion}" rendered="#{rolBean.indicadorTipoFecha=='MOD'}">
                                                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{rolBean.timeZone}" />
                                                            </p:outputLabel>
                                                            <p:outputLabel value="#{list.ultimaFechaActivacion}"  rendered="#{rolBean.indicadorTipoFecha=='ACT'}">
                                                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"  timeZone="#{rolBean.timeZone}" />
                                                            </p:outputLabel>
                                                            <p:outputLabel value="#{list.ultimaFechaDesactivacion}" rendered="#{rolBean.indicadorTipoFecha=='DES'}">
                                                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{rolBean.timeZone}" />
                                                            </p:outputLabel>
                                                        </p:column>
                                                    </p:dataTable>
                                                        
                                                    </div>
                                                </center>
                                    </p:row>                                  
                                    
                                    <br />
                                     
                                    <p:row>
                                        <p:column style="text-align:center;" colspan="4">
                                            <div id="accionBotones" style="text-align: center;">
                                                <p:commandButton rendered="#{rolBean.visListPerfilNuevo}"
                                                                action="#{perfilBean.agregar}" id="btnAgregarNuevo"
                                                                title="Agregar Nuevo" value="#{msgs['adm.boton.agregar']}"
                                                                update="@form"/>
                                                <p:commandButton rendered="#{rolBean.visListPerfilEditar}"
                                                                action="#{perfilBean.agregar}" id="btnAgregarEditar"
                                                                title="Agregar Editar" value="#{msgs['adm.boton.agregar']}"
                                                                update="@form"/>        
                                            </div>
                                        </p:column>
                                    </p:row>

                                </p:panelGrid>
                        </h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
