
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/paginas/sistema/escritorioSistema.xhtml">
	<ui:define name="content">
		<h:body>

			<h:form id="idFormDetallePerfil">	
				<p:panelGrid id="idGridDetallePerfil" layout="grid"
                                             styleClass="ui-panelgrid" columns="1" >
					<p:row>
						<p:column style="text-align:center;" colspan="4">
							<div id="idFormConsola:terminos_header"
								style="text-align: right;"
								class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">
								
								<u><i> <p:outputLabel styleClass="title" value="#{msgs['adm.titulo.detalleperfil']}" /> </i></u>
							</div>
						</p:column>
					</p:row>

					<p:row>
						<p:column>
                                                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid" style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                    <p:panelGrid columns="2"  style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                        <p:column style="width:10%;">
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.nombre']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel id="nombre"  value="#{perfilBean.dto.nombre}"   />                                                                               
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                            <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.estado']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{msgsType[perfilBean.dto.estadoPerfil.value]} " style="text-transform: uppercase;" />
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.descripcion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{perfilBean.dto.descripcion}" style="text-transform: uppercase;" />
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">                                                                                
                                                                        </p:column>
                                                                        <p:column>                                                                            
                                                                        </p:column>
                                                                                                                                                                                                                                                                                              
                                                                       
                                                                    </p:panelGrid>
<!--                                                                <p:column>
                                                                    
                                                                        <p:commandButton 
                                                                                actionListener="#{perfilBean.guardarEditarPerfil}"
                                                                                id="guardarRolNuevo" value="#{msgs['adm.boton.aceptar']}" 
                                                                                update="@form"/>
                                                                        &#160;&#160;&#160;&#160;
                                                                        <p:commandButton action="regresar"
                                                                                actionListener="#{perfilBean.cancelar}"
                                                                                value="#{msgs['adm.boton.cancelar']}" immediate="true" />
                                                                   
                                                                </p:column>-->
                                                                
                                                                        <p:column>
                                                                            <p:fieldset legend="#{msgs['adm.label.lista.rol']}" id="idLegendListaRol" style="border:1px solid orange" >



                                                                                <p:dataTable
                                                                                        value="#{perfilBean.dto.listaPerfilRol}" var="list" id="dtPerfil"
                                                                                        rowIndexVar="rowIndex"
                                                                                        emptyMessage="No roles asignados"
                                                                                        paginatorPosition="bottom"
                                                                                        paginatorAlwaysVisible="true"
                                                                                        rows="20"
                                                                                        paginator="true" 
                                                                                        rowsPerPageTemplate="20,40,60"
                                                                                        currentPageReportTemplate="Mostrando de {startRecord} a {endRecord} | Total Registros : {totalRecords}"
                                                                                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                                                                                        <p:column>
                                                                                            <f:facet name="header">
                                                                                                    <p:outputLabel value="Nro." />
                                                                                            </f:facet>
                                                                                            <center>
                                                                                                    <p:outputLabel value="#{rowIndex+1}" />
                                                                                            </center>
                                                                                        </p:column>
                                                                                        <p:column>
                                                                                            <f:facet name="header">
                                                                                                    <p:outputLabel value="#{msgs['adm.label.nombre']}" />
                                                                                            </f:facet>
                                                                                            <p:outputLabel value="#{list.rol.nombre}" style="text-transform: uppercase;"/>
                                                                                        </p:column>
                                                                                       
                                                                                        <p:column>
                                                                                                <f:facet name="header">
                                                                                                        <p:outputLabel value="#{msgs['adm.label.estado']}" />
                                                                                                </f:facet>
                                                                                                        <p:outputLabel value="#{msgsType[list.rol.estadoRol.value]}" style="text-transform: uppercase;"/>
                                                                                        </p:column>
                                                                                        <p:column>
                                                                                                <f:facet name="header">
                                                                                                        <p:outputLabel value="#{msgs['adm.label.fechaasociacion']}" />
                                                                                                </f:facet>
                                                                                                <p:outputLabel value="#{list.fechaCreacion}">
                                                                                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{PerfilBean.timeZone}" />
                                                                                                </p:outputLabel>
                                                                                        </p:column>
                                                                                </p:dataTable>
                                                                            </p:fieldset>


                                                                        </p:column>
                                                                            
                                                                      <p:panelGrid columns="4"  style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                        <p:column style="width:10%;">
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.fechacreacion']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{perfilBean.dto.fechaCreacion}">
                                                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{perfilBean.timeZone}" />
                                                                            </p:outputLabel>                                                                              
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                            <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.usuariocreacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{perfilBean.dto.usuarioCreacion}" style="text-transform: uppercase;" />
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.fechamodificacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                           <p:outputLabel value="#{perfilBean.dto.ultimaFechaModificacion}">
                                                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{perfilBean.timeZone}" />
                                                                            </p:outputLabel>
                                                                        </p:column>
                                                                          
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.usuariomodificacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{perfilBean.dto.ultimoUsuarioModificacion}" style="text-transform: uppercase;" />
                                                                        </p:column>
                                                                          
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.ultimafechaactivacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                           <p:outputLabel value="#{perfilBean.dto.ultimaFechaActivacion}">
                                                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{perfilBean.timeZone}" />
                                                                            </p:outputLabel>
                                                                        </p:column>
                                                                        
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.ultimousuarioactivacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{perfilBean.dto.ultimoUsuarioActivacion}" style="text-transform: uppercase;" />
                                                                        </p:column>
                                                                          
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.ultimafechadesactivacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                           <p:outputLabel value="#{perfilBean.dto.ultimaFechaDesactivacion}">
                                                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{perfilBean.timeZone}" />
                                                                            </p:outputLabel>
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.ultimousuariodesactivacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{perfilBean.dto.ultimoUsuarioDesactivacion}" style="text-transform: uppercase;" />
                                                                        </p:column>                                                                       
                                                                    </p:panelGrid>

                                                                  
                                                            </p:panelGrid> 
                                                    </p:column>
                                        </p:row>
                                        <p:row>
                                        <p:column style="text-align:center;" colspan="4">
                                            <div id="accionBotones" style="text-align: center;">
                                                <p:commandButton action="regresar"
                                                                actionListener="#{perfilBean.cancelar}"
                                                                value="#{msgs['adm.detalleDesactivacion.label.regresar']}"
                                                                immediate="true" />
                                            </div>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                        </h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
