
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/paginas/sistema/escritorioSistema.xhtml">
	<ui:define name="content">
		<h:body>

			<h:form id="idFormEditarPerfil">
                            <center><p:messages id="messages" style="width: 20%; text-align: center;" /></center>                            
                            <!--                            <p:growl id="validador" autoUpdate="true"/>-->
				<p:panelGrid id="idGridEditarUsuario" layout="grid"
                                             styleClass="ui-panelgrid" columns="1" >                                      
                                    <p:row>
                                            <p:column style="text-align:center;" colspan="4">
                                                    <div id="idFormConsola:terminos_header"
                                                            style="text-align: right;"
                                                            class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">

                                                            <u><i> <p:outputLabel styleClass="title" value="#{msgs['adm.titulo.editarperfil']}" /> </i></u>
                                                    </div>
                                            </p:column>
                                    </p:row>

                                    <p:row>
                                            <p:column>
                                                        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid" style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                <p:panelGrid columns="2"  style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                    <p:column style="width:10%;">
                                                                             <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.nombre']}"/>
                                                                    </p:column>
                                                                    <p:column>
                                                                        <p:inputText id="nombre"  value="#{perfilBean.dto.nombre}"  required="#{!empty param['idFormEditarPerfil:guardaPerfilEditado']}" requiredMessage="#{msgs['adm.label.nombre']}: El valor es requerido" onkeypress="javascript:return esAlfaNumerico(event);"  />                                                                               
                                                                    </p:column>
                                                                    <p:column style="width:10%;">
                                                                            <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.descripcion']}" />
                                                                    </p:column>
                                                                    <p:column>
                                                                        <p:inputTextarea id="descripcion"
                                                                                         value="#{perfilBean.dto.descripcion}"
                                                                                            maxlength="200"
                                                                                            style="width:96%; height:14px;margin-left:2px;"
                                                                                            required="#{!empty param['idFormEditarPerfil:guardaPerfilEditado']}"
                                                                                            requiredMessage="#{msgs['adm.label.descripcion']}: El valor es requerido"
                                                                                            onkeypress="javascript:return esAlfaNumerico(event);"/>
                                                                    </p:column>

                                                                    <p:column style="width:10%;">
                                                                            <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.estado']}" />
                                                                    </p:column>
                                                                    <p:column>
                                                                        <p:selectOneMenu id="estado"
                                                                                style="text-transform: uppercase;width: 140px;"
                                                                                value="#{perfilBean.dto.estado}"
                                                                                required="#{!empty param['idFormEditarPerfil:guardaPerfilEditado']}"
                                                                                requiredMessage="#{msgs['adm.label.estado']}: El valor es requerido">
                                                                                <f:selectItem itemValue=""  itemLabel="#{msgs['adm.label.seleccione']}" />
                                                                                <f:selectItems value="#{perfilBean.estados}" />
                                                                        </p:selectOneMenu>
                                                                    </p:column>



                                                                    <p:column style="width:10%;">
                                                                            <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.rol']}" />
                                                                    </p:column>
                                                                    <p:column>
                                                                        <p:commandLink id="BuscarRol" action="#{perfilBean.addListRolEditar}"                                                                                        
                                                                                    partialSubmit="true">
                                                                                    <p:graphicImage value="/recursos/images/lupa.gif" />
                                                                        </p:commandLink>
                                                                    </p:column>


                                                            </p:panelGrid>
                                                            <p:column>                                                                   
                                                            </p:column>

                                                                    <p:column>
                                                                        <p:fieldset legend="#{msgs['adm.label.lista.rol']}" id="idLegendListaRol" style="border:1px solid orange" >



                                                                            <p:dataTable
                                                                                    value="#{perfilBean.listR1}" var="list" id="dtPerfil"
                                                                                    rendered="#{not empty perfilBean.listR1}"
                                                                                    rowIndexVar="rowIndex"
                                                                                    emptyMessage="No roles asignados"
                                                                                    paginatorPosition="bottom"
                                                                                    paginatorAlwaysVisible="true"
                                                                                    rows="20"
                                                                                    paginator="true" 
                                                                                    rowsPerPageTemplate="20,40,60"
                                                                                    currentPageReportTemplate="Mostrando de {startRecord} a {endRecord} | Total Registros : {totalRecords}"
                                                                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                                                                                    <p:column>
                                                                                            <f:facet name="header">
                                                                                                    <p:outputLabel value="Nro." />
                                                                                            </f:facet>
                                                                                            <center>
                                                                                                    <p:outputLabel value="#{rowIndex+1}" />
                                                                                            </center>
                                                                                    </p:column>
                                                                                    <p:column>
                                                                                            <f:facet name="header">
                                                                                                    <p:outputLabel value="#{msgs['adm.label.nombre']}" />
                                                                                            </f:facet>
                                                                                                    <p:outputLabel value="#{list.nombre}" style="text-transform: uppercase;"/>
                                                                                    </p:column>
                                                                                    <p:column>
                                                                                            <f:facet name="header">
                                                                                                    <p:outputLabel value="#{msgs['adm.label.descripcion']}" />
                                                                                            </f:facet>
                                                                                        <p:outputLabel value="#{list.descripcion}" style="text-transform: uppercase;"/>
                                                                                    </p:column>
                                                                                    <p:column>
                                                                                            <f:facet name="header">
                                                                                                    <p:outputLabel value="#{msgs['adm.label.modulo']}" />
                                                                                            </f:facet>
                                                                                        <p:outputLabel value="#{list.modulo}" style="text-transform: uppercase;"/>
                                                                                    </p:column>
                                                                                    <p:column>
                                                                                            <f:facet name="header">
                                                                                                    <p:outputLabel value="#{msgs['adm.label.esadministrador']}" />
                                                                                            </f:facet>
                                                                                        <p:outputLabel value="#{msgsType[list.condicionState.value]}" style="text-transform: uppercase;"/>
                                                                                    </p:column>
                                                                                    <p:column>
                                                                                            <f:facet name="header">
                                                                                                    <p:outputLabel value="#{msgs['adm.label.estado']}" />
                                                                                            </f:facet>
                                                                                                    <p:outputLabel value="#{msgsType[list.estadoRol.value]}" style="text-transform: uppercase;"/>
                                                                                    </p:column>
                                                                                    <p:column>
                                                                                            <f:facet name="header">
                                                                                                    <p:outputLabel value="" />
                                                                                            </f:facet>
                                                                                            <p:commandLink id="Eliminar" 
                                                                                                           immediate="true" title="Eliminar" update="@form"
                                                                                            actionListener="#{perfilBean.eliminarSeleccion}">
                                                                                                <p:graphicImage value="/recursos/images/cerrar.png"/>
                                                                                            <f:param id="eliminarId" name="ideli" value="#{list.id}" />
                                                                                            </p:commandLink>
                                                                                    </p:column>                                                                                        
                                                                            </p:dataTable>
                                                                        </p:fieldset>


                                                                    </p:column>
                                                        </p:panelGrid> 
                                                </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column style="text-align:center;" colspan="4">
                                            <div id="accionBotones" style="text-align: center;">
                                                <p:commandButton rendered="#{!perfilBean.edicionExitosa}"
                                                        actionListener="#{perfilBean.guardarEditarPerfil}"
                                                        id="guardaPerfilEditado" value="#{msgs['adm.boton.aceptar']}" 
                                                        update="@form"/>
                                                &#160;&#160;&#160;&#160;
                                                <p:commandButton rendered="#{!perfilBean.edicionExitosa}"
                                                        action="regresar"
                                                        actionListener="#{perfilBean.cancelar}"
                                                        value="#{msgs['adm.boton.regresar']}" immediate="true" />
                                                <p:commandButton rendered="#{perfilBean.edicionExitosa}"
                                                        action="regresar"
                                                        actionListener="#{perfilBean.cancelar}"
                                                        value="Regresar" immediate="true" />
                                            </div>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                        </h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
