<div xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:p="http://primefaces.org/ui">
<h:form>
	<h:panelGrid id="piepagina" columns="1"  styleClass="footer">
		<h:outputText value="Copyright © 2015 Ministerio de educación. Todos los derechos reservados"/>
		<h:outputText value="Sede Central: Calle Del Comercio 193, San Borja - Lima, Perú"/>
	</h:panelGrid>
</h:form>
</div>
