<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<p:toolbar>
		<f:facet name="left">
			<p:graphicImage
				value="/recursos/images/logoESCALE.png" />
		</f:facet>
            
		<f:facet name="right">
			<h:outputText id="etiqUsuario" value="Usuario: " />
			<h:outputText id="txtUsuario"                                
				value="#{loginBean.usuario.nombreCompleto}" />
                        
				<br />
				
			<br />
	
			
			<p:clock mode="server" pattern="dd/MM/yyyy HH:mm:ss"></p:clock>
		</f:facet>

	</p:toolbar>

</div>
