<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="pe.gob.minedu.escale.adm.ui.wd-1.0.0-PRO">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/target/generated-sources/annotations"/>
        <dependent-module archiveName="pe.gob.minedu.escale.common-1.0.0-PRO.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pe.gob.minedu.escale.common/pe.gob.minedu.escale.common">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pe.gob.minedu.escale.adm.be-1.0.0-PRO.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pe.gob.minedu.escale.adm.be/pe.gob.minedu.escale.adm.be">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pe.gob.minedu.escale.adm.be.client-1.0.0-PRO.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pe.gob.minedu.escale.adm.be.client/pe.gob.minedu.escale.adm.be.client">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pe.gob.minedu.escale.adm.bp-1.0.0-PRO.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pe.gob.minedu.escale.adm.bp/pe.gob.minedu.escale.adm.bp">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/pe.gob.minedu.escale.adm.ui.wd/target/classes"/>
        <property name="context-root" value="pe.gob.minedu.escale.adm.ui.wd"/>
    </wb-module>
</project-modules>
