
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/paginas/sistema/escritorioSistema.xhtml">
	<ui:define name="content">
		<h:body>

			<h:form id="idFormDetalleRol">	
				<p:panelGrid id="idGridDetalleRol" layout="grid"
                                             styleClass="ui-panelgrid" columns="1" >
					<p:row>
						<p:column style="text-align:center;" colspan="4">
							<div id="idFormConsola:terminos_header"
								style="text-align: right;"
								class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">
								
								<u><i> <p:outputLabel styleClass="title" value="#{msgs['adm.titulo.detallerol']}" /> </i></u>
							</div>
						</p:column>
					</p:row>

					<p:row>
						<p:column>
                                                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid" style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                    <p:panelGrid columns="2"  style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                        <p:column style="width:10%;">
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.nombre']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel id="nombre"  value="#{rolBean.dto.nombre}"   />                                                                               
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.modulo']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel id="modulo"  value="#{rolBean.dto.modulo.nombre}"   />                                                                               
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.esadministrador']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel id="adm"  value="#{msgsType[rolBean.dto.condicionAdministrador.value]}"   />                                                                               
                                                                        </p:column>
                                                                        
                                                                        
                                                                        <p:column style="width:10%;">
                                                                            <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.estado']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{msgsType[rolBean.dto.estadoRol.value]} " style="text-transform: uppercase;" />
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.descripcion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{rolBean.dto.descripcion}" style="text-transform: uppercase;" />
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">                                                                                
                                                                        </p:column>
                                                                        <p:column>
                                                                        </p:column>
                                                                        
                                                                                                                                                                                                                                                                                              
                                                                       
                                                                    </p:panelGrid>

                                                                            
                                                                    <p:panelGrid columns="4"  style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                        <p:column style="width:10%;">
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.fechacreacion']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{rolBean.dto.fechaCreacion}">
                                                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{rolBean.timeZone}" />
                                                                            </p:outputLabel>                                                                              
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                            <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.usuariocreacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{rolBean.dto.usuarioCreacion}" style="text-transform: uppercase;" />
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.fechamodificacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                           <p:outputLabel value="#{rolBean.dto.ultimaFechaModificacion}">
                                                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{rolBean.timeZone}" />
                                                                            </p:outputLabel>
                                                                        </p:column>
                                                                          
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.usuariomodificacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{rolBean.dto.ultimoUsuarioModificacion}" style="text-transform: uppercase;" />
                                                                        </p:column>
                                                                          
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.ultimafechaactivacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                           <p:outputLabel value="#{rolBean.dto.ultimaFechaActivacion}">
                                                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{rolBean.timeZone}" />
                                                                            </p:outputLabel>
                                                                        </p:column>
                                                                        
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.ultimousuarioactivacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{rolBean.dto.ultimoUsuarioActivacion}" style="text-transform: uppercase;" />
                                                                        </p:column>
                                                                          
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.ultimafechadesactivacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                           <p:outputLabel value="#{rolBean.dto.ultimaFechaDesactivacion}">
                                                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{rolBean.timeZone}" />
                                                                            </p:outputLabel>
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.ultimousuariodesactivacion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:outputLabel value="#{rolBean.dto.ultimoUsuarioDesactivacion}" style="text-transform: uppercase;" />
                                                                        </p:column>                                                                       
                                                                    </p:panelGrid>

                                                                    
                                                            </p:panelGrid> 
                                                    </p:column>
                                                    <p:column>
                                                        <p:fieldset legend="#{msgs['adm.label.listaperfiles']}" id="idLegendListaRol" style="border:1px solid orange" >                                                            
                                                                <p:dataTable
                                                                    value="#{rolBean.dto.listaPerfilRol}" var="list" id="dtPerfil"
                                                                    rendered="#{not empty rolBean.dto.listaPerfilRol}"
                                                                    rowIndexVar="rowIndex"
                                                                    emptyMessage="No perfiles asociados"
                                                                    paginatorPosition="bottom"
                                                                    paginatorAlwaysVisible="true"
                                                                    rows="20"
                                                                    paginator="true" 
                                                                    rowsPerPageTemplate="20,40,60"
                                                                    currentPageReportTemplate="Mostrando de {startRecord} a {endRecord} | Total Registros : {totalRecords}"
                                                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                                                                    <p:column>
                                                                        <f:facet name="header">
                                                                            <p:outputLabel value="Nro." />
                                                                        </f:facet>
                                                                        <center>
                                                                                <p:outputLabel value="#{rowIndex+1}" />
                                                                        </center>
                                                                    </p:column>
                                                                    <p:column>
                                                                            <f:facet name="header">
                                                                                    <p:outputLabel value="#{msgs['adm.label.nombre']}" />
                                                                            </f:facet>
                                                                            <p:outputLabel value="#{list.perfil.nombre}" style="text-transform: uppercase;"/>
                                                                    </p:column>
                                                                    <p:column>
                                                                            <f:facet name="header">
                                                                                    <p:outputLabel value="#{msgs['adm.label.estado']}" />
                                                                            </f:facet>
                                                                        <p:outputLabel value="#{msgsType[list.perfil.estadoPerfil.value]}" style="text-transform: uppercase;"/>
                                                                    </p:column>
                                                                    <p:column>
                                                                            <f:facet name="header">
                                                                                    <p:outputLabel value="#{msgs['adm.label.fechaasociacion']}" />
                                                                            </f:facet>
                                                                            <p:outputLabel value="#{list.fechaCreacion}" />
                                                                    </p:column>
                                                                </p:dataTable>
                                                        </p:fieldset>
                                                    </p:column>
                                                    <p:column>
                                                        <div align="center">
                                                            <p:commandButton action="regresar" value="Volver"  immediate="true" />
                                                            <p:commandButton action="regresar" actionListener="#{rolBean.cancelar}" value="#{msgs['adm.boton.salir']}" immediate="true" />
                                                        </div>
                                                    </p:column>
                                        </p:row>
                                </p:panelGrid>
                        </h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
