
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/paginas/sistema/escritorioSistema.xhtml">
	<ui:define name="content">
		<h:body>

			<h:form id="idFormRegistroEditarRol">	
                            <center><p:messages id="messages" style="width: 20%; text-align: center;" /></center>                            
                            <!--                            <p:growl id="validador" autoUpdate="true"/>-->
                            
				<p:panelGrid id="idGridRegistroEditarRol" layout="grid"
                                             styleClass="ui-panelgrid" columns="1" >
                                        
					                                                   
                                         						
					<p:row>
						<p:column style="text-align:center;" colspan="4">
							<div id="idFormConsola:terminos_header"
								style="text-align: right;"
								class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">
								
								<u><i> <p:outputLabel styleClass="title" value="#{msgs['adm.titulo.editarrol']}" /> </i></u>
							</div>
						</p:column>
					</p:row>

					<p:row>
						<p:column>
                                                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid" style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                    <p:panelGrid columns="2"  style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                        <p:column style="width:10%;">
                                                                                 <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.nombre']}"/>
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:inputText id="nombre"  value="#{rolBean.dto.nombre}" required="true" requiredMessage="#{msgs['adm.label.nombre']}: El valor es requerido"  onkeypress="javascript:return esAlfaNumerico(event);" />                                                                               
                                                                        </p:column>
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.descripcion']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:inputTextarea id="descripcion" 
                                                                                             value="#{rolBean.dto.descripcion}" maxlength="200"  style="width:96%; height:14px;margin-left:2px;"
                                                                                             required="true"
                                                                                             requiredMessage="#{msgs['adm.label.descripcion']}: El valor es requerido"
                                                                                             onkeypress="javascript:return esAlfaNumerico(event);"/>
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.esadministrador']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:selectOneMenu id="eadm" style="text-transform: uppercase;width: 140px;"
											value="#{rolBean.dto.indicadorAdministrador}"
                                                                                        required="true" 
                                                                                        requiredMessage="#{msgs['adm.label.esadministrador']}: El valor es requerido">
											<f:selectItems value="#{rolBean.indicadoresAdm}" />
									    </p:selectOneMenu>
                                                                        </p:column>
                                                                        
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.modulo']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:selectOneMenu id="modulo" style="text-transform: uppercase;width: 140px;"
											value="#{rolBean.dto.modulo.id}"
                                                                                        required="true" 
                                                                                        requiredMessage="#{msgs['adm.label.modulo']}: El valor es requerido">
											<f:selectItem itemValue="" itemLabel="#{msgs['adm.label.seleccione']}" />
											<f:selectItems value="#{rolBean.modulos}" />
									    </p:selectOneMenu>
                                                                        </p:column>
                                                                        
                                                                        <p:column style="width:10%;">
                                                                                <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.estado']}" />
                                                                        </p:column>
                                                                        <p:column>
                                                                            <p:selectOneMenu id="estado"
                                                                                            styleClass="#{rolBean.styleTxtEstado}" style="text-transform: uppercase;width: 140px;"
                                                                                            value="#{rolBean.dto.estado}"
                                                                                            required="true" 
                                                                                            requiredMessage="#{msgs['adm.label.estado']}: El valor es requerido">
										<f:selectItem itemValue="" itemLabel="#{msgs['adm.label.seleccione']}" />
										<f:selectItems value="#{rolBean.estados}" />
                                                                            </p:selectOneMenu>
                                                                        </p:column>   
                                                                </p:panelGrid>
                                                                <p:column>
                                                                </p:column>                                                                
                                                            </p:panelGrid> 
                                                    </p:column>
                                        </p:row>
                                    <p:row>
                                        <p:column style="text-align:center;" colspan="4">
                                            <div id="accionBotones" style="text-align: center;">
                                                <p:commandButton rendered="#{rolBean.aceptarCambios}"
                                                                actionListener="#{rolBean.guardarEditarRol}"
                                                                id="guardarRolEditar" value="#{msgs['adm.boton.aceptar']}" 
                                                                update="@form">
                                                    <f:param id="editRol" name="v" value="guardarEditarRol" />
                                                </p:commandButton>
                                                &#160; &#160;
                                                <p:commandButton action="regresar"
                                                       actionListener="#{rolBean.cancelar}"
                                                       value="#{msgs['adm.boton.cancelar']}" immediate="true" />
                                            </div>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                        </h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
