
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/paginas/sistema/escritorioSistema.xhtml">
	<ui:define name="content">
		<h:body>

			<h:form id="idFormRegistroRol">	
                            <center><p:messages id="messages" style="width: 20%; text-align: center;" /></center>                            
                            <!--                            <p:growl id="validador" autoUpdate="true"/>-->
				<p:panelGrid id="idGridRegistroRol" layout="grid"
                                             styleClass="ui-panelgrid" columns="1" >
                                    <p:row>
                                            <p:column style="text-align:center;" colspan="4">
                                                    <div id="idFormConsola:terminos_header"
                                                            style="text-align: right;"
                                                            class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">

                                                            <u><i> <p:outputLabel styleClass="title" value="#{msgs['adm.titulo.nuevorol']}" /> </i></u>
                                                    </div>
                                            </p:column>
                                    </p:row>

                                    <p:row>
                                            <p:column>
                                                        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid" style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                <p:panelGrid columns="2"  style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                                    <p:column style="width:10%;">
                                                                             <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.nombre']}"/>
                                                                    </p:column>
                                                                    <p:column>
                                                                        <p:inputText id="nombre"  value="#{rolBean.voN.nombre}" required="#{!empty param['idFormRegistroRol:guardarRolNuevo']}" requiredMessage="#{msgs['adm.label.nombre']}: El valor es requerido" onkeypress="javascript:return esAlfaNumerico(event);" />                                                                               
                                                                    </p:column>
                                                                    <p:column style="width:10%;">
                                                                            <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.descripcion']}" />
                                                                    </p:column>
                                                                    <p:column>
                                                                        <p:inputTextarea id="descripcion" value="#{rolBean.voN.descripcion}" maxlength="200" 
                                                                                         required="#{!empty param['idFormRegistroRol:guardarRolNuevo']}"
                                                                                         requiredMessage="#{msgs['adm.label.descripcion']}: El valor es requerido"
                                                                                         style="width:96%; height:14px;margin-left:2px;"
                                                                                         onkeypress="javascript:return esAlfaNumerico(event);"/>
                                                                    </p:column>

                                                                    <p:column style="width:10%;">
                                                                            <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.esadministrador']}" />
                                                                    </p:column>
                                                                    <p:column>
                                                                        <p:selectOneMenu id="eadm" style="text-transform: uppercase;width: 140px;"
                                                                                    value="#{rolBean.voN.indicadorAdministrador}"
                                                                                    required="#{!empty param['idFormRegistroRol:guardarRolNuevo']}" 
                                                                                    requiredMessage="#{msgs['adm.label.esadministrador']}: El valor es requerido">
                                                                                    <f:selectItem itemValue="" itemLabel="#{msgs['adm.label.seleccione']}" />
                                                                                    <f:selectItems value="#{rolBean.indicadoresAdm}" />
                                                                        </p:selectOneMenu>
                                                                    </p:column>


                                                                    <p:column style="width:10%;">
                                                                            <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.modulo']}" />
                                                                    </p:column>
                                                                    <p:column>
                                                                        <p:selectOneMenu id="modulo" style="text-transform: uppercase;width: 140px;"
                                                                                    value="#{rolBean.voN.modulo.id}"
                                                                                    required="#{!empty param['idFormRegistroRol:guardarRolNuevo']}" 
                                                                                    requiredMessage="#{msgs['adm.label.modulo']}: El valor es requerido">
                                                                                    <f:selectItem itemValue="" itemLabel="#{msgs['adm.label.seleccione']}" />
                                                                                    <f:selectItems value="#{rolBean.modulos}" />
                                                                        </p:selectOneMenu>
                                                                    </p:column>                                                                                                                                       
                                                            </p:panelGrid>
                                                            <p:column>


                                                            </p:column>                                                                
                                                        </p:panelGrid> 
                                                </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column style="text-align:center;" colspan="4">
                                            <div id="accionBotones" style="text-align: center;">
                                                <p:commandButton rendered="#{rolBean.aceptarCambios}"
                                                                                actionListener="#{rolBean.guardarNuevoRol}"
                                                                                id="guardarRolNuevo" value="#{msgs['adm.boton.aceptar']}" 
                                                                                update="@form">
                                                    <f:param id="saveRol" name="saveRol" value="guardarNuevoRol" />
                                                </p:commandButton>
                                                 &#160; &#160;
                                                <p:commandButton action="regresar"
                                                        actionListener="#{rolBean.cancelar}"
                                                        value="#{msgs['adm.boton.cancelar']}" immediate="true" />   
                                            </div>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                        </h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
