<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="idFormMenu" prependId="false">
		<p:menubar autoDisplay="false">
		
			<p:submenu label="Administracion" >
                                <p:menuitem value="Gestionar usuario"
                                            action="verGestionUsuario" ajax="false"
                                            actionListener="#{usuarioBean.limpiarBusqueda(event)}"/>
                                <p:menuitem value="Gestionar perfiles"
                                            action="verGestionPerfil" ajax="false" 
                                            actionListener="#{perfilBean.limpiarCampos}"/>
                                <p:menuitem value="Gestionar Roles"
                                            action="verGestionRol" ajax="false" 
                                            actionListener="#{rolBean.limpiarCampos}"/>
				<p:menuitem value="Gestionar Entidades"
                                            action="verGestionEntidad" ajax="false" 
                                            actionListener="#{entidadBean.limpiarCriteriosBuscarEntidad}"/>
<!--				<p:menuitem value="Gestionar usuario"
                                            action="#{sistemaContextBean.vistaGeusu()}" ajax="false" />
                                <p:menuitem value="Gestionar perfiles"
                                            action="#{sistemaContextBean.vistaGeperf()}" ajax="false" />
                                <p:menuitem value="Gestionar Roles"
                                            action="#{sistemaContextBean.vistaGerol()}" ajax="false" />
				<p:menuitem value="Gestionar Entidades"
                                            action="#{sistemaContextBean.vistaGeent()}" ajax="false" />	-->
				


			</p:submenu>


                        <p:menuitem global="false" ajax="false"
				value="Modificar clave"
				 action="verModificarClaveUsuario"
                                 actionListener="#{modificarClaveBean.limpiar}"/>
                        
			<p:menuitem global="false" ajax="false"
				value="#{rbEscaleUI['escale.ui.login.cerrarSesion']}"
				action="#{loginBean.cerrarSesion()}" />
                        


		</p:menubar>
	</h:form>
</div>