
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/paginas/sistema/escritorioSistema.xhtml">
	<ui:define name="content">
		<h:body>

			<h:form id="idFormModificarClaveUsuario" prependId="true">
                            <center><p:messages id="messages" style="width: 20%; text-align: center;" /></center>
                            <h:panelGroup id="detail">
                                <p:panelGrid id="idGridModificarClaveUsuario" layout="grid" styleClass="ui-panelgrid" columns="1" >    
                                    <p:row>
<!--                                        <p:column style="text-align:center;" colspan="4">
                                                <div id="idFormConsola:terminos_header" style="text-align: right;" class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">
                                                    <u><i> <p:outputLabel styleClass="title" value="#{msgs['adm.message.modificarclave.titulo']}" /> </i></u>
                                                </div>
                                        </p:column>-->
                                        <p:column style="text-align:center;" colspan="4">
                                                <div id="idFormConsola:terminos_header"
                                                        style="text-align: right;"
                                                        class="ui-panel-titlebar ui-widget-header ui-helper-clearfix">

                                                        <u><i> <p:outputLabel styleClass="title" value="#{msgs['adm.message.modificarclave.titulo']}" /> </i></u>
                                                </div>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column>
                                            <p:panelGrid  columns="2" layout="grid" styleClass="ui-panelgrid" style="width:100%;text-align: left;border: none;border-color: transparent;" >
                                                <p:column style="width:30%;">
                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.modificarclave.contrasenaAnterior']}"/>
                                                </p:column>
                                                <p:column>
                                                    <p:password id="claveActual"
                                                                 value="#{modificarClaveBean.contrasenaAntigua}"                                                                 
                                                                    maxlength="16"
                                                                    style="width:96%; height:14px;margin-left:2px;"
                                                                    required="#{!empty param['idFormModificarClaveUsuario:modificarClave']}" requiredMessage="#{msgs['adm.label.modificarclave.contrasenaAnterior']}: El valor es requerido"/>
                                                </p:column>
                                                
                                                <p:column style="width:30%;">
                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.modificarclave.nuevaContrasena']}"/>
                                                </p:column>
                                                <p:column>
                                                    <p:password id="claveNueva"
                                                                 value="#{modificarClaveBean.contrasenaNueva}"                                                                 
                                                                    maxlength="16"
                                                                    style="width:96%; height:14px;margin-left:2px;"
                                                                    required="#{!empty param['idFormModificarClaveUsuario:modificarClave']}" requiredMessage="#{msgs['adm.label.modificarclave.nuevaContrasena']}: El valor es requerido"/>
                                                </p:column>
                                                
                                                <p:column style="width:30%;">
                                                    <p:outputLabel styleClass="resaltar" value="#{msgs['adm.label.modificarclave.repetirNuevaContrasena']}"/>
                                                </p:column>
                                                <p:column>
                                                    <p:password id="claveNuevaRepetir"
                                                                 value="#{modificarClaveBean.repetirNuevaContrasena}"
                                                                    maxlength="16"
                                                                    style="width:96%; height:14px;margin-left:2px;"
                                                                    required="#{!empty param['idFormModificarClaveUsuario:modificarClave']}" requiredMessage="#{msgs['adm.label.modificarclave.repetirNuevaContrasena']}: El valor es requerido"/>
                                                </p:column>
                                                
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                            <p:column  style="text-align:center;" colspan="4">
                                                <div id="accionBotones" style="text-align: center;">
                                                    <p:commandButton
                                                                    action="#{modificarClaveBean.validarNuevaContrasena}"
                                                                    id="modificarClave"
                                                                    value="#{msgs['adm.boton.aceptar']}"                                                                    
                                                                    update=":idFormModificarClaveUsuario:messages"
                                                                    />
                                                     &#160; &#160;
                                                    <p:commandButton
                                                                    action="#{modificarClaveBean.limpiar}" id="btnLimpiar"
                                                                    value="#{msgs['adm.boton.limpiar']}" 
                                                                    update="@form"                                                                   
                                                                    process="@this"
                                                                    immediate="true"/>
                                                                                                 
                                                </div>
                                            </p:column>
                                        </p:row>
                                </p:panelGrid>                                
                            </h:panelGroup>                            
                        </h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
