<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html" contracts="#{param.contract}">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

                <link href="recursos/css/estilos.css" rel="stylesheet" type="text/css"/>
                <link href="recursos/css/estilosESCALE.css" rel="stylesheet" type="text/css"/>
	

	</h:head>
	<h:body>
		<h:form id="idFormRecuperarClave" style="width:100%;">
				<p:growl id="validador" autoUpdate="true"/>    
			<br />
			<br />
			<br />
			<br />
			<br />
			<p:panel id="basic" style="width:100%;">

				<p:messages showDetail="true"/>
                                <p:panelGrid id="formLogin" columns="2" layout="grid" styleClass="ui-panelgrid">
                                        
					<p:column>
                                            <p:panelGrid id="panelTitulo" columns="1" style="text-align: center;">
                                                <center>
                                                <p:outputLabel id="tituloLabel"  value="Sistema de gestión de usuarios de la Unidad de Estadística"
                                                                        styleClass="labelTituloCentrado" />
                                                <p:graphicImage value="recursos/images/logoESCALE.png" height="130" width="350" />
                                                </center>
                                            </p:panelGrid>
						
                                            
					</p:column>							

					<p:column>
                                            
                                                
                                                <p:row> 
                                                    <p:panelGrid id="panelRecuperarClave" columns="2" >

                                                            
                                                       
                                                        
                                                        
<!--                                                        <p:row>
                                                            <p:column style="text-align:center" rowspan="1" >
                                                                <p:outputLabel styleClass="label" value="#{msgs['adm.recuperarclave.usuario']}"  style="width: 200px;"/>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column style="text-align:center" rowspan="2" >
                                                                    <p:inputText  id="usuario" value="#{recuperarClaveBean.usuarioAsignado}" style="width: 200px;"  />  
                                                            </p:column>
                                                        </p:row>
                                                        
                                                        <p:row>
                                                            <p:column rowspan="1">
                                                                <p:outputLabel styleClass="label" value="#{msgs['adm.usuario.label.correoelectronico']}" />
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column style="text-align:center"  rowspan="2">
                                                                <p:inputText id="correo" value="#{recuperarClaveBean.correoElectronicoPer}"
                                                                             maxlength="50"
                                                                             style="height:14px;margin-left:2px;width: 200px;"/>
                                                            </p:column>
                                                        </p:row>-->
                                                        <p:column style="text-align:center"  >
                                                            <p:outputLabel styleClass="label" value="#{msgs['adm.recuperarclave.usuario']}"  style="width: 200px;"/>
                                                        </p:column>


                                                        <p:column style="text-align:center"  >
                                                                <p:inputText  id="usuario" value="#{recuperarClaveBean.usuarioAsignado}" style="width: 200px;"  />  
                                                        </p:column>

                                                        <p:column colspan="1">
                                                            <p:outputLabel styleClass="label" value="#{msgs['adm.usuario.label.correoelectronico']}" />
                                                        </p:column>
                                                        <p:column style="text-align:center" >
                                                           <p:inputText id="correo" value="#{recuperarClaveBean.correoElectronicoPer}"
                                                                        maxlength="50"
                                                                        style="height:14px;margin-left:2px;width: 200px;"/>
                                                        </p:column>
                                                       
                                                        
                                                        <p:column style="text-align:center">
                                                                <p:commandButton						
                                                                        action="#{recuperarClaveBean.validarRecuperarClave}"
                                                                        value="#{msgs['adm.boton.aceptar']}"
                                                                        />
                                                        </p:column>
                                                         <p:column style="text-align:center">
                                                                <p:commandButton
                                                                        action="#{recuperarClaveBean.limpiarCampos}"
                                                                        value="#{msgs['adm.boton.limpiar']}" 
                                                                        update="idFormRecuperarClave:usuario idFormRecuperarClave:correo" 
                                                                        process="@this"/>

                                                        </p:column>
                                                       
                                                            
                                                     
                                                    </p:panelGrid>
                                                </p:row>
                                                <p:row> 
                                                    <p:panelGrid id="panelCaptcha" columns="1" >
                                                        <p:column style="text-align:center">
                                                            <p:captcha id="captcha" language="es"
                                                                        required="true"
                                                                        requiredMessage="Por favor, complete y valide el Captcha."                        
                                                                        validatorMessage="La verificación Captcha falló. Por favor, vuelva a intentarlo."
                                                                        theme="white"
                                                                         />
                                                        </p:column>                                                        
                                                    </p:panelGrid>
                                                    
                                                </p:row>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                
                                                <p:row>                                                    
                                                    <p:column colspan="4" style="text-align:center;">
                                                        <p:outputLabel style="font-size: 75%;"
                                                          value="#{rbEscaleUI['escale.ui.login.aviso.centroConsultasEscale']}">
                                                        </p:outputLabel>
                                                    </p:column>
                                                </p:row>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <br></br>
<!--                                                <p:column>                                                    
                                                </p:column>
                                                <p:column>                                                    
                                                </p:column>
                                                <p:column>                                                    
                                                </p:column>
                                                <p:column>                                                    
                                                </p:column>
                                                <p:column>                                                    
                                                </p:column>-->
                                               

                                        </p:column>
                                         
                                        
						
                                       
<!--					<p:row>
						<p:column colspan="4" style="text-align:center;">
							<p:commandLink style="color:blue"
								value="#{rbEscaleUI['escale.ui.login.aviso.noPuedeIngresarAlSistema']}"
								immediate="true"
                                                                action="recuperarClaveUsuario"/>
						</p:column>
					</p:row>
					<p:row>
						<p:column style="text-align:center" colspan="3">
							<p:outputLabel style="font-size: 75%;"
                                                                       value="#{rbEscaleUI['escale.ui.login.aviso.centroConsultasEscale']}">
							</p:outputLabel>
						</p:column>
					</p:row>-->
				</p:panelGrid>
			</p:panel>

		</h:form>

	</h:body>
</f:view>
</html>